<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="{% static 'images/1.png' %}" rel="icon">
  <title>Expert Homecare Employee</title>
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/ruang-admin.min2.css' %}" rel="stylesheet">
</head>
<script src="path/to/jquery.js"></script>
<script src="path/to/bootstrap.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
<style>
  .custom-badge {
    font-size: 1rem; /* Adjust the font size as needed */
    padding: 0.25rem 0.4rem; /* Adjust the padding as needed */
    background-color: rgb(70, 249, 70); /* Set the background color to green */
    color: rgb(148, 141, 141); /* Optional: Set text color to white for contrast */
}
    
</style>

<style>
  .error {
    color: red; /* Sets the text color to red */
    font-size: 18px; /* Sets the font size to 6 pixels */
}
.blurred {
            filter: blur(2px); /* Apply blur effect */
            cursor: not-allowed; /* Change cursor to indicate disabled state */
        }
</style>
<script>
 
        $(document).ready(function() {
            $('#uploadInput').on('change', function() {
                var fileInput = $(this)[0].files[0];
                var filePath = fileInput ? fileInput.name : '';
                var allowedExtensions = /\.pdf$/i; // Define allowed file extensions
                
                if (fileInput) {
                    if (!allowedExtensions.exec(filePath)) {
                        // Invalid file type
                        $('#text17').html("<span class='error'>Invalid file type. Only .pdf files are allowed.</span>");
                        $('#fileNameDisplay').text(""); // Clear the file name display
                        $(this).val(''); // Clear the input field
                        $('#register').attr("disabled", true);
                        $('#register').css("background", "lightblue");// Disable the Submit button
                    } else {
                        // Valid file type
                        $('#text17').html(""); // Clear any error messages
                        $('#fileNameDisplay').text("Selected file: " + fileInput.name); // Display the file name
                        $('#register').attr("disabled", false);
                        $('#register').css("background", "blue");  // Enable the Submit button
                    }
                } else {
                    // No file selected
                    $('#fileNameDisplay').text(""); // Clear the file name display
                    $('#text17').html(""); // Clear any error messages
                    $('#register').attr("disabled", true);
            $('#register').css("background", "lightblue");// Disable the Submit button
                }
            });
        });
    
</script>

<body id="page-top">
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'employee:index1' %}">
        <div class="sidebar-brand-icon">
          <img src="{% static 'img/logo/logo2.png' %}">
        </div>
        <div class="sidebar-brand-text mx-3">Expert Homecare</div>
       <!-- <div class="sidebar-brand-text mx-3">Expert Homecare</div>  -->
      </a>
      <hr class="sidebar-divider my-0">
      <li class="nav-item  ">
        <a class="nav-link" href="{% url 'customserviceprovider:index2' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>
      <hr class="sidebar-divider">
      <div class="sidebar-heading">
        Features
      </div>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'customserviceprovider:bookeduserdetails' %}">
          <i class="fa fa-users"></i>
          <span>Booked User Details</span>
        </a>
      </li>
      
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'customserviceprovider:display_feedback' %}">
          <i class="fa fa-users"></i>
          <span>View Feedback</span>
        </a>
      </li>
      
    </ul>
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- TopBar -->
        <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
          <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-1 small" placeholder="What do you want to look for?"
                      aria-label="Search" aria-describedby="basic-addon2" style="border-color: #ef6767;">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <span class="badge badge-danger badge-counter"></span>
              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Alerts Center
                </h6>
             
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <span class="badge badge-warning badge-counter"></span>
              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Message Center
                </h6>
               
            </li>
            <div class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img src="{% static customer.photo %} "class="img-profile rounded-circle"  style="max-width: 60px">
                <span class="ml-2 d-none d-lg-inline text-white small">{{ customer}}</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
              
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'customserviceprovider:logoutserviceprovider' %}">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
        </nav>

        <!-- Topbar -->
        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
        
        
          <!-- Row -->
        
            <!-- Datatables -->
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Booking Data {{ k }}</h6>
                  
                 
                    <a href="{% url 'customserviceprovider:viewbookingpdfserviceprovider' %}" target="_blank"> <font color="blue">Generate Report</font>  </a>
                    </div>
                    <div class="right">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-success" role="alert" id="delete-success-message" style="max-width: 400px; margin-left:500px;">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
               
              </div>  
                
              
                
                <div class="table-responsive p-3">
                  
                  <table class="table align-items-center table-flush" id="dataTable">
                    <thead class="thead-light">
                        <tr>
                            <th>SI NO</th>
                            <th>Customer Name</th>
                            <th>Customer Photo</th>
                         
                            <th>Problem Description</th>
                            <th>Booked Dates</th>
                          
                            <th>Bill Details</th>
                            <th>Payment Status</th>
                            <th>More Info</th>
                            <th>Service Status</th>
                          </tr>
                        </thead>
                        <tbody id="bookingTableBody">
                          {% for booking in data_to_display %}
                          <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ booking.customer_name }}</td>
                      
                            <td><img src="{% static '' %}{{ booking.photo }}" alt="Customer Photo" width="68"height="50"></td>
                          
                            <td>{{ booking.notes }}</td>
                            <td>
                              {% for item in booking.dates_and_slots %}
                                <div>
                                  {{ item.date }} - {{ item.slot }}
                                </div>
                              {% endfor %}
                            </td>
                          
                            {% if booking.amount == "pending" %}
                            <td>  
                              <button class="btn btn-sm btn-primary view-details" 
                  data-toggle="modal" 
                  data-target="#newModal" 
                  data-modal_booking_id="{{ booking.booking_id }}" 
                  data-service_provider_amount="{{ booking.serviceprovideramount }}" 
                  data-number_of_dates="{{ booking.number_of_dates }}" 
                  data-last_slot_is_full_day="{{ booking.last_slot_is_full_day }}" 
               
                  data-accessories_buy_amount="{{ booking.Accessoriesbuyamount }}" 
                  data-accessories_buy_amount_proof="{{ booking.Accessoriesbuyamountproof }}"
                 >Add Bill
          </button>
          
                            </td>
                              
                            {% else %}
                           <td> <button class="btn btn-sm btn-success view-details" 
                            data-toggle="modal" 
                            data-target="#myNewModal" 
                            data-modal_booking_id="{{ booking.booking_id }}" 
                            data-service_provider_amount5="{{ booking.Accessoriesbuyamount }} "
                            data-amount="{{ booking.amount }} "
                            data-service_provider_amount="{{ booking.serviceprovideramount }} " 
                            data-service_provider_amount10="{{ booking.Accessoriesbuyamountproof }}" 
                            >View Bill</button>
                          </td>
                            {% endif %}
                          
                            {% if booking.payment == "pending" %}
                            <td>
                              
                              <font color="red">{{ booking.payment }}</font></a></td>
                            {% elif booking.payment == "Done" %}
                            <td><span class="badge custom-badge">{{ booking.payment }}</span></a></td>
                            {% else %}
                           <td> <font color="red">{{ booking.payment }}</font></a></td>
                           
                            {% endif %}
                         
                    
                     
                            <td>
                              <button class="btn btn-sm btn-primary edit" data-toggle="modal" data-target="#editModal" 
                            data-customer_name="{{ booking.customer_name }} " 
                            data-address="{{ booking.address }}"
                          
                            data-service_provider_name="{{ booking.service_provider_name }} " 
                            data-modal_customeremail="{{ booking.customer_email }} " 
                            data-modal_customerphone="{{ booking.customer_phone }} " 
                            data-service_name="{{ booking.service_name }}" 
                            data-gender="{{ booking.service_provider_gender }}" 
                            data-location="{{ booking.service_provider_location }}" 
                            data-Experience="{{ booking.Service_Provider_Experience }}"
                            data-notes="{{ booking.notes }}" 
                            data-modal_email="{{ booking.service_provider_email }}" 
                            data-service_provider_phone1="{{ booking.service_provider_phone }}" 
                           
                            
                            
                          
                            data-id="{{ booking.id }}">View</button></td>
                           
                            {% if booking.status == "pending" %}
                            <td><a href="{% url 'customserviceprovider:changebookingstatus1' booking.booking_id %}" class="btn btn-sm btn-warning">pending</a></td>
                         
                          
                           
                            {% elif booking.status == "Approved" %}
                            <td><span class="badge custom-badge">{{ booking.status }}</span></a></td>
                            {% elif booking.status == "Solved" %}
                            <td><span class="badge custom-badge">{{ booking.status }}</span></a></td>
                            {% endif %}
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editModalLabel"> Booking Details</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="modal_name">Customer Name:</label>
                                        <input type="text" class="form-control" id="modal_name" readonly>
                                    </div>
                                    <div class="form-group">
                                      <label for="modal_customermobile">Customer Mobile:</label>
                                      <input type="text" class="form-control" id="modal_customerphone" readonly>
                                  </div>
                                  <div class="form-group">
                                    <label for="modal_name">Customer Email:</label>
                                    <input type="text" class="form-control" id="modal_customeremail" readonly>
                                </div>
                                <div class="form-group">
                                  <label for="modal_Address">Service Booked Address:</label>
                                  <input type="text" class="form-control" id="modal_address" readonly>
                              </div>
                                    <div class="form-group">
                                      <label for="modal_name">Technician Name:</label>
                                      <input type="text" class="form-control" id="service_provider_name" readonly>
                                  </div>
                                    
                                 
                                  <div class="form-group">
                                    <label for="modal_designation">Service Offered:</label>
                                    <input type="text" class="form-control" id="service_name" readonly>
                                </div>
                                
                             
                                <div class="form-group">
                                  <label for="modal_Experience">Problem Description:</label>
                                  <textarea class="form-control" id="modal_location" readonly style="width:100%;"></textarea>
                              </div>
                            
                                    <div class="form-group">
                                        <label for="modal_email">Technician Email:</label>
                                        <input type="text" class="form-control" id="modal_email" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="service_provider_phone">Technician Mobile:</label>
                                        <input type="text" class="form-control" id="service_provider_phone1" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="modal_gender">Gender:</label>
                                        <input type="text" class="form-control" id="modal_gender" readonly>
                                    </div>
                                   
                                   
                                    <input type="hidden" id="modal_id">
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                           
                            </div>
                        </div>
                    </div>
                  </div>

                  <div class="modal fade" id="myNewModal" tabindex="-1" role="dialog" aria-labelledby="myNewModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="myNewModalLabel">Uploaded Bill Details</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="twoValueForm" method="post" action="{% url 'customserviceprovider:update_values' %}" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="value1">Basic Service Provider Amount Per Slot (AM,PM)</label>
                                        <input type="text" class="form-control" id="service_provider_amount" placeholder="Enter amount" disabled>
                                        <input type="hidden" class="form-control" id="service_provider_amount1" name="basic"> <!-- Changed input type to hidden -->
                                    </div>
                                    <div class="form-group">
                                      <label for="value1">Total Amount</label>
                                      <input type="text" class="form-control" id="amount" placeholder="Enter amount" disabled>
                               
                                  </div>
                                    <div class="form-group">
                                        <label for="value1">Enter Accessories Buy Amount</label>
                                        <input type="number" class="form-control" id="Accessoriesbuyamount" name="value1" placeholder="Enter amount" disabled>
                                        <input type="hidden" id="id1" name="bookingid"> <!-- Changed input type to hidden -->
                                    </div>
                                    <div class="form-group">
                                        <label for="value1">Uploaded Bill Of Accessories Buy</label><br>
                                        <a id="service_provider_amount4" href="{% static '' %}{{ modal_id_proof }}" class="btn btn-sm btn-primary"target="_blank">View Bill</a>
          
                                        <br>
                                      
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              
                            </div>
                                </form>
                        </div>
                    </div>
                </div>
                
                  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
                  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
                              
                  <script>
                    $(document).ready(function() {
                        $(document).on('click', '.edit', function() {
                            var id = $(this).data('id');
                            var customer_name = $(this).data('customer_name');
                            var service_provider_name = $(this).data('service_provider_name');
                            
                            var customeremail = $(this).data('modal_customeremail');
                            var customerephone = $(this).data('modal_customerphone');
                            var gender = $(this).data('gender');
                             var service_name = $(this).data('service_name');
                            var address = $(this).data('address');
                            var designation = $(this).data('designation');
                            var modal_email = $(this).data('modal_email');
                            var location = $(this).data('notes');
                            var service_provider_phone1 = $(this).data('service_provider_phone1');
                            var status = $(this).data('status');
                            // var status = $(this).data('date');
                            
                            console.log("Clicked ID:", id); // Verify in the console that the correct ID is logged
                            console.log("Name:", customer_name);
                           // console.log("Phone:", phone);
                            // console.log("Email:", email);
                            // console.log("Gender:", service_provider_name);
                           // console.log("Status:", Experience);
                    
                            // Assign values to modal fields
                            $('#modal_name').val(customer_name);
                            $('#modal_customeremail').val(customeremail);
                            $('#modal_customerphone').val(customerephone);
                            $('#modal_gender').val(gender);
                            $('#modal_status').val(status);
                            
                            $('#modal_address').val(address);
                            $('#service_provider_name').val(service_provider_name);
                            $('#modal_email').val(modal_email);
                             $('#service_name').val(service_name);
                            $('#service_provider_phone1').val(service_provider_phone1);
                            $('#modal_location').val(location);
                    
                            $('#modal_id').val(id);
                    
                            // Show the modal
                            $('#editModal').modal('show');
                        });
                    });
                    document.addEventListener("DOMContentLoaded", function() {
                      var messageElement = document.getElementById("delete-success-message");
                      if (messageElement) {
                          // alert(messageElement.innerText);  // This will show a browser alert with the message
                          
                          // Optional: Hide the message after 5 seconds
                          setTimeout(function() {
                              messageElement.style.display = 'none';
                          }, 3000);
                      }
                  });
                 
                    </script>    
            
          <!--Row

          <!-- Documentation Link -->
          

          <!-- Modal Logout -->
          <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to logout?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                  <a href="login.html" class="btn btn-primary">Logout</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!---Container Fluid-->
      </div>

      <!-- Footer -->
      
      <!-- Footer -->
    </div>
  </div>
  <div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="twoValueModalLabel">Add Bill Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="twoValueForm" method="post" action="{% url 'customserviceprovider:update_values' %}"enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                  <label for="value1">Basic Service Provider Amount Per Slot (AM,PM)</label>
                  <input type="text" class="form-control" id="service_provider_amount7" placeholder="Enter amount" disabled>
                  <input type="hidden" class="form-control" id="service_provider_amount8"  name="basic"> <!-- Changed input type to hidden -->
                  <input type="hidden" class="form-control" id="number_of_dates"  name="number_of_dates">
                  <input type="hidden" class="form-control" id="last_slot_is_full_day"  name="last_slot_is_full_day"> <!-- Changed input type to hidden -->
              
              </div>
                <div class="form-group">
                    <label for="value1">Enter Accessories Buy Amount</label>
                    <input type="number" class="form-control" id="Accessoriesbuyamount" name="value1" placeholder="Enter amount" required>
                    <input type="hidden" id="modal_id1" name="bookingid"> <!-- Changed input type to hidden -->
                </div>
                <div class="form-group">
                  <label for="value1">Upload Bill Of Accessories Buy</label><br>

                    <input class="form-control" type="file" id="uploadInput" name="file" accept=".pdf*"  required>
                  

                </button><br>
                <font color="green"><span id="text17"></span><br>
                  <div class="id-proof-box">
                    {% if service_provider_amount4 == "undefined" %}
                        <!-- Do nothing or add some content if needed -->
                    {% else %}
                        <a id="service_provider_amount4" href="{% static '' %}{{ modal_id_proof }}" target="_blank">
                            <font color="red"><span id="service_provider_amount4"></span></font>
                        </a>
                    {% endif %}
                </div>
                <!-- <span id="fileNameDisplay"><a href="images/1.pdf">view</a></span></font> -->
                
              </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" id="register" class="btn btn-primary">Submit</button>
        </div>
            </form>  </div>
  </div>
  
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- Bootstrap JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
  
  $(document).ready(function() {
      // When the button with class 'view-details' is clicked
      $('.view-details').on('click', function() {
          // Get data attributes from the clicked button
          var modal_booking_id = $(this).data('modal_booking_id');
          
          var number_of_dates = $(this).data('number_of_dates');
          var last_slot_is_full_day = $(this).data('last_slot_is_full_day');
          var service_provider_amount = $(this).data('service_provider_amount');
          var accessories_buy_amount = $(this).data('accessories_buy_amount');
          var accessories_buy_amount_proof = $(this).data('accessories_buy_amount_proof');

          // Populate the modal with the data
          $('#id1').val(modal_booking_id);
          $('#newModal #modal_booking_id').text(modal_booking_id);
          $('#modal_id').val(modal_booking_id);
          $('#Accessoriesbuyamount').val(accessories_buy_amount);
          $('#service_provider_amount4').attr('href', '{% static "" %}' + accessories_buy_amount_proof);
          $('#last_slot_is_full_day').val(last_slot_is_full_day);
          $('#number_of_dates').val(number_of_dates);
          $('#service_provider_amount').val(service_provider_amount);
          $('#service_provider_amount1').val(service_provider_amount);
      });
  });
  </script>
  <script>
    $(document).ready(function() {
      // When the button with class 'view-details' is clicked
      $('.view-details').on('click', function() {
          // Get data attributes from the clicked button
          var modal_booking_id = $(this).data('modal_booking_id');
          var service_provider_amount = $(this).data('service_provider_amount');
          var service_provider_amount5 = $(this).data('service_provider_amount5');
          var service_provider_amount10 = $(this).data('service_provider_amount10');
          var amount = $(this).data('amount');
  
          // Populate the modal with the data
          $('#id1').val(modal_booking_id);
          
          console.log("kdf")
          $('#myNewModal #modal_booking_id').text(modal_booking_id);
          $('#modal_id1').val(modal_booking_id);
          console.log(modal_booking_id)
          $('#Accessoriesbuyamount').val(service_provider_amount5);
          $('#service_provider_amount4').attr('href', '{% static "" %}' + service_provider_amount10);
          $('#service_provider_amount7').val(service_provider_amount);
          $('#service_provider_amount8').val(service_provider_amount);
          $('#amount').val(amount);
          $('#myNewModal #id').text(id);
      });
  });
</script>    
  
  
  

  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <script src="{% static 'vendor/jquery/jquery.min.js '%}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'js/ruang-admin.min.js' %}"></script>
  <!-- Page level plugins -->
  <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var messageElement = document.getElementById("delete-success-message");
        if (messageElement) {
            // alert(messageElement.innerText);  // This will show a browser alert with the message
            
            // Optional: Hide the message after 5 seconds
            setTimeout(function() {
                messageElement.style.display = 'none';
            }, 5000);
        }
    });
      </script>
  <!-- Page level custom scripts -->
  <script>
    $(document).ready(function () {
      $('#dataTable').DataTable(); // ID From dataTable 
      $('#dataTableHover').DataTable(); // ID From dataTable with Hover
    });
  </script>
  <style>
    #dataTableSearchBox {
        float: right;
        
    }
    .error{
        color: red;
        font-size: 16px;
    }
</style>


    

</body>

</html>