<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="{% static 'images/1.png' %}" rel="icon">
  <title>Expert Homecare Employee</title>
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/ruang-admin.min2.css' %}" rel="stylesheet">
</head>
<script src="path/to/jquery.js"></script>
<script src="path/to/bootstrap.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
<style>
  .error {
    color: red; /* Sets the text color to red */
    font-size: 18px; /* Sets the font size to 6 pixels */
}
.blurred {
            filter: blur(2px); /* Apply blur effect */
            cursor: not-allowed; /* Change cursor to indicate disabled state */
        }
        .custom-badge {
    font-size: 1rem; /* Adjust the font size as needed */
    padding: 0.25rem 0.4rem; /* Adjust the padding as needed */
    background-color: rgb(70, 249, 70); /* Set the background color to green */
    color: rgb(148, 141, 141); /* Optional: Set text color to white for contrast */
}
   
</style>
<script>
 
        $(document).ready(function() {
            $('#uploadInput').on('change', function() {
                var fileInput = $(this)[0].files[0];
                var filePath = fileInput ? fileInput.name : '';
                var allowedExtensions = /\.pdf$/i; // Define allowed file extensions
                
                if (fileInput) {
                    if (!allowedExtensions.exec(filePath)) {
                        // Invalid file type
                        $('#text17').html("<span class='error'>Invalid file type. Only .pdf files are allowed.</span>");
                        $('#fileNameDisplay').text(""); // Clear the file name display
                        $(this).val(''); // Clear the input field
                        $('#register').attr("disabled", true);
                        $('#register').css("background", "lightblue");// Disable the Submit button
                    } else {
                        // Valid file type
                        $('#text17').html(""); // Clear any error messages
                        $('#fileNameDisplay').text("Selected file: " + fileInput.name); // Display the file name
                        $('#register').attr("disabled", false);
                        $('#register').css("background", "blue");  // Enable the Submit button
                    }
                } else {
                    // No file selected
                    $('#fileNameDisplay').text(""); // Clear the file name display
                    $('#text17').html(""); // Clear any error messages
                    $('#register').attr("disabled", true);
            $('#register').css("background", "lightblue");// Disable the Submit button
                }
            });
        });
    
</script>

<body id="page-top">
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'employee:index1' %}">
        <div class="sidebar-brand-icon">
          <img src="{% static 'img/logo/logo2.png' %}">
        </div>
        <div class="sidebar-brand-text mx-3">Expert Homecare</div>
       <!-- <div class="sidebar-brand-text mx-3">Expert Homecare</div>  -->
      </a>
      <hr class="sidebar-divider my-0">
      <li class="nav-item active ">
        <a class="nav-link" href="{% url 'customserviceprovider:index2' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>
      <hr class="sidebar-divider">
      <div class="sidebar-heading">
        Features
      </div>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'customserviceprovider:bookeduserdetails' %}">
          <i class="fa fa-users"></i>
          <span>Booked User Details</span>
        </a>
      </li>
      
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'customserviceprovider:display_feedback' %}">
          <i class="fa fa-users"></i>
          <span>View Feedback</span>
        </a>
      </li>
      
    </ul>
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- TopBar -->
        <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
          <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-1 small" placeholder="What do you want to look for?"
                      aria-label="Search" aria-describedby="basic-addon2" style="border-color: #ef6767;">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <span class="badge badge-danger badge-counter"></span>
              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Alerts Center
                </h6>
             
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <span class="badge badge-warning badge-counter"></span>
              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Message Center
                </h6>
               
            </li>
            <div class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img src="{% static customer.photo %} "class="img-profile rounded-circle"  style="max-width: 60px">
                <span class="ml-2 d-none d-lg-inline text-white small">{{ customer}}</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{% url 'customserviceprovider:serviceprovideraccount' %}">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
              
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'customserviceprovider:logoutserviceprovider' %}">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
        </nav>

        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'customserviceprovider:index2' %}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
            </ol>
          </div>

          <div class="row mb-3">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">Earnings (Monthly)</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_amount}}</div>
                      <div class="mt-2 mb-0 text-muted text-xs">
                        <span class="text-success mr-2"><i class="fa fa-arrow-up"></i>{{total_amount}}</span>
                        <span>Since last month</span>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-primary"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Earnings (Annual) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">Booked</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_bookings}}</div>
                      <div class="mt-2 mb-0 text-muted text-xs">
                        <span class="text-success mr-2"><i class="fas fa-arrow-up"></i>{{total_bookings}}</span>
                        <span>Since last years</span>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-shopping-cart fa-2x text-success"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- New User Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">New User</div>
                      <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{total_customers}}</div>
                      <div class="mt-2 mb-0 text-muted text-xs">
                        <span class="text-success mr-2"><i class="fas fa-arrow-up"></i>{{total_customers}}</span>
                        <span>Since last month</span>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-users fa-2x text-info"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">Pending Requests</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{pending_approval}}</div>
                      <div class="mt-2 mb-0 text-muted text-xs">
                        <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i>{{pending_approval}}</span>
                        <span>Since yesterday</span>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-warning"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Area Chart -->
            <!-- <div class="col-xl-8 col-lg-7">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Monthly Recap Report</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                      aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                  </div>
                </div>
              </div>
            </div> -->
            <!-- Pie Chart -->
            <!-- <div class="col-xl-4 col-lg-5">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Products Sold</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle btn btn-primary btn-sm" href="#" role="button" id="dropdownMenuLink"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Month <i class="fas fa-chevron-down"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                      aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Select Periode</div>
                      <a class="dropdown-item" href="#">Today</a>
                      <a class="dropdown-item" href="#">Week</a>
                      <a class="dropdown-item active" href="#">Month</a>
                      <a class="dropdown-item" href="#">This Year</a>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="mb-3">
                    <div class="small text-gray-500">Oblong T-Shirt
                      <div class="small float-right"><b>600 of 800 Items</b></div>
                    </div>
                    <div class="progress" style="height: 12px;">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="mb-3">
                    <div class="small text-gray-500">Gundam 90'Editions
                      <div class="small float-right"><b>500 of 800 Items</b></div>
                    </div>
                    <div class="progress" style="height: 12px;">
                      <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="70"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="mb-3">
                    <div class="small text-gray-500">Rounded Hat
                      <div class="small float-right"><b>455 of 800 Items</b></div>
                    </div>
                    <div class="progress" style="height: 12px;">
                      <div class="progress-bar bg-danger" role="progressbar" style="width: 55%" aria-valuenow="55"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="mb-3">
                    <div class="small text-gray-500">Indomie Goreng
                      <div class="small float-right"><b>400 of 800 Items</b></div>
                    </div>
                    <div class="progress" style="height: 12px;">
                      <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="mb-3">
                    <div class="small text-gray-500">Remote Control Car Racing
                      <div class="small float-right"><b>200 of 800 Items</b></div>
                    </div>
                    <div class="progress" style="height: 12px;">
                      <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
                <div class="card-footer text-center">
                  <a class="m-0 small text-primary card-link" href="#">View More <i
                      class="fas fa-chevron-right"></i></a>
                </div>
              </div>
            </div> -->
            <!-- Invoice Example -->
         
              <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Pending Approval</h6>
                  <a class="m-0 float-right btn btn-danger btn-sm" href="#">View More <i
                      class="fas fa-chevron-right"></i></a>
                </div>
                <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                        <th>SI NO</th>
                            <th>Customer Name</th>
                            <th>Customer Photo</th>
                         
                            <th>Problem Description</th>
                            <th>Booked Dates</th>
                          
                            <th>Bill Details</th>
                            <th>Payment Status</th>
                            <th>More Info</th>
                            <th>Service Status</th>
                          
                      </tr>
                    </thead>
                    <tbody>
                       {% for booking in data_to_display %}
                          <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ booking.customer_name }}</td>
                      
                            <td><img src="{% static '' %}{{ booking.photo }}" alt="Customer Photo" width="68"height="50"></td>
                            
                            <td>{{ booking.notes }}</td>
                            <td>
                              {% for item in booking.dates_and_slots %}
                                <div>
                                  {{ item.date }} - {{ item.slot }}
                                </div>
                              {% endfor %}
                            </td>
                          
                            {% if booking.amount == "pending" %}
                            <td>  
                              <button class="btn btn-sm btn-primary view-details" 
                  data-toggle="modal" 
                  data-target="#newModal" 
                  data-modal_booking_id="{{ booking.booking_id }}" 
                  data-service_provider_amount="{{ booking.serviceprovideramount }}" 
                  data-number_of_dates="{{ booking.number_of_dates }}" 
                  data-last_slot_is_full_day="{{ booking.last_slot_is_full_day }}" 
               
                  data-accessories_buy_amount="{{ booking.Accessoriesbuyamount }}" 
                  data-accessories_buy_amount_proof="{{ booking.Accessoriesbuyamountproof }}"
                 >Add Bill
          </button>
          
                            </td>
                              
                            {% else %}
                            <td> <button class="btn btn-sm btn-success view-details" 
                              data-toggle="modal" 
                              data-target="#myNewModal" 
                              data-modal_booking_id="{{ booking.booking_id }}" 
                              data-service_provider_amount5="{{ booking.Accessoriesbuyamount }} "
                              data-amount="{{ booking.amount }} "
                              data-service_provider_amount="{{ booking.serviceprovideramount }} " 
                              data-service_provider_amount10="{{ booking.Accessoriesbuyamountproof }}" 
                              >View Bill</button>
                            </td>
                            {% endif %}
                          
                            {% if booking.payment == "pending" %}
                            <td>
                              
                              <font color="red">{{ booking.payment }}</font></a></td>
                            {% elif booking.payment == "Done" %}
                            <td><span class="badge custom-badge">{{ booking.payment }}</span></a></td>
                            {% else %}
                           <td> <font color="red">{{ booking.payment }}</font></a></td>
                            {% endif %}
                         
                    
                     
                            <td>
                              <button class="btn btn-sm btn-primary edit" data-toggle="modal" data-target="#editModal" 
                            data-customer_name="{{ booking.customer_name }} " 
                            data-address="{{ booking.address }}"
                          
                            data-service_provider_name="{{ booking.service_provider_name }} " 
                            data-modal_customeremail="{{ booking.customer_email }} " 
                            data-modal_customerphone="{{ booking.customer_phone }} " 
                            data-service_name="{{ booking.service_name }}" 
                            data-gender="{{ booking.service_provider_gender }}" 
                            data-location="{{ booking.service_provider_location }}" 
                            data-Experience="{{ booking.Service_Provider_Experience }}"
                            data-notes="{{ booking.notes }}" 
                            data-modal_email="{{ booking.service_provider_email }}" 
                            data-service_provider_phone1="{{ booking.service_provider_phone }}" 
                           
                            
                            
                          
                            data-id="{{ booking.id }}">View</button></td>
                           
                            {% if booking.status == "pending" %}
                            <td><a href="{% url 'customserviceprovider:changebookingstatus1' booking.booking_id %}" class="btn btn-sm btn-warning">pending</a></td>
                         
                          
                           
                            {% elif booking.status == "Approved" %}
                            <td><span class="badge custom-badge">{{ booking.status }}</span></a></td>
                            {% elif booking.status == "Solved" %}
                            <td><span class="badge custom-badge">{{ booking.status }}</span></a></td>
                            {% endif %}
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
            <!-- Message From Customer-->
            <!-- <div class="col-xl-4 col-lg-5 ">
              <div class="card">
                <div class="card-header py-4 bg-primary d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-light">Message From Customer</h6>
                </div>
                <div>
                  <div class="customer-message align-items-center">
                    <a class="font-weight-bold" href="#">
                      <div class="text-truncate message-title">Hi there! I am wondering if you can help me with a
                        problem I've been having.</div>
                      <div class="small text-gray-500 message-time font-weight-bold">Udin Cilok · 58m</div>
                    </a>
                  </div>
                  <div class="customer-message align-items-center">
                    <a href="#">
                      <div class="text-truncate message-title">But I must explain to you how all this mistaken idea
                      </div>
                      <div class="small text-gray-500 message-time">Nana Haminah · 58m</div>
                    </a>
                  </div>
                  <div class="customer-message align-items-center">
                    <a class="font-weight-bold" href="#">
                      <div class="text-truncate message-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit
                      </div>
                      <div class="small text-gray-500 message-time font-weight-bold">Jajang Cincau · 25m</div>
                    </a>
                  </div>
                  <div class="customer-message align-items-center">
                    <a class="font-weight-bold" href="#">
                      <div class="text-truncate message-title">At vero eos et accusamus et iusto odio dignissimos
                        ducimus qui blanditiis
                      </div>
                      <div class="small text-gray-500 message-time font-weight-bold">Udin Wayang · 54m</div>
                    </a>
                  </div>
                  <div class="card-footer text-center">
                    <a class="m-0 small text-primary card-link" href="#">View More <i
                        class="fas fa-chevron-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Row-->

          <!-- <div class="row">
            <div class="col-lg-12 text-center">
              <p>Do you like this template ? you can download from <a href="https://github.com/indrijunanda/RuangAdmin"
                  class="btn btn-primary btn-sm" target="_blank"><i class="fab fa-fw fa-github"></i>&nbsp;GitHub</a></p>
            </div>
          </div> -->

          <!-- Modal Logout -->
          <!-- <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to logout?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                  <a href="login.html" class="btn btn-primary">Logout</a>
                </div>
              </div>
            </div>
          </div> -->

        <!-- </div> -->
        <!---Container Fluid-->
      </div>
      
      <!-- <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>copyright &copy; <script> document.write(new Date().getFullYear()); </script> - developed by
              <b><a href="https://indrijunanda.gitlab.io/" target="_blank">indrijunanda</a></b>
            </span>
          </div>
        </div>

        <div class="container my-auto py-2">
          <div class="copyright text-center my-auto">
            <span>copyright &copy; <script> document.write(new Date().getFullYear()); </script> - distributed by
              <b><a href="https://themewagon.com/" target="_blank">themewagon</a></b>
            </span>
          </div>
        </div>
      </footer> -->
      <!-- Footer -->
    </div>
  </div>
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel"> Booking Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="modal_name">Customer Name:</label>
                        <input type="text" class="form-control" id="modal_name" readonly>
                    </div>
                    <div class="form-group">
                      <label for="modal_customermobile">Customer Mobile:</label>
                      <input type="text" class="form-control" id="modal_customerphone" readonly>
                  </div>
                  <div class="form-group">
                    <label for="modal_name">Customer Email:</label>
                    <input type="text" class="form-control" id="modal_customeremail" readonly>
                </div>
                    <div class="form-group">
                      <label for="modal_name">Technician Name:</label>
                      <input type="text" class="form-control" id="service_provider_name" readonly>
                  </div>
                    
                    <div class="form-group">
                      <label for="modal_Address">Service Booked Address:</label>
                      <input type="text" class="form-control" id="modal_address" readonly>
                  </div>
                  <div class="form-group">
                    <label for="modal_designation">Service Offered:</label>
                    <input type="text" class="form-control" id="service_name" readonly>
                </div>
                
             
                <div class="form-group">
                  <label for="modal_Experience">Problem Description:</label>
                  <textarea class="form-control" id="modal_location" readonly style="width:100%;"></textarea>
              </div>
            
                    <div class="form-group">
                        <label for="modal_email">Technician Email:</label>
                        <input type="text" class="form-control" id="modal_email" readonly>
                    </div>
                    <div class="form-group">
                        <label for="service_provider_phone">Technician Mobile:</label>
                        <input type="text" class="form-control" id="service_provider_phone1" readonly>
                    </div>
                    <div class="form-group">
                        <label for="modal_gender">Gender:</label>
                        <input type="text" class="form-control" id="modal_gender" readonly>
                    </div>
                   
                   
                    <input type="hidden" id="modal_id">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           
            </div>
        </div>
    </div>
  </div>
  <div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="twoValueModalLabel">Add Bill Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="twoValueForm" method="post" action="{% url 'customserviceprovider:update_values' %}"enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                  <label for="value1">Basic Service Provider Amount Per Slot (AM,PM)</label>
                  <input type="text" class="form-control" id="service_provider_amount" placeholder="Enter amount" disabled>
                  <input type="hidden" class="form-control" id="service_provider_amount1"  name="basic">
                  <input type="hidden" class="form-control" id="number_of_dates"  name="number_of_dates">
                  <input type="hidden" class="form-control" id="last_slot_is_full_day"  name="last_slot_is_full_day"> <!-- Changed input type to hidden -->
              </div>
                <div class="form-group">
                    <label for="value1">Enter Accessories Buy Amount</label>
                    <input type="number" class="form-control" id="Accessoriesbuyamount" name="value1" placeholder="Enter amount" required>
                    <input type="hidden" id="id1" name="bookingid"> <!-- Changed input type to hidden -->
                </div>
                <div class="form-group">
                  <label for="value1">Upload Bill Of Accessories Buy</label><br>

                    <input class="form-control" type="file" id="uploadInput" name="file" accept=".pdf*" onchange="fileValidation()"required>
                  

                </button><br>
                <font color="green"><span id="text17"></span><br>
                  <div class="id-proof-box">
                    {% if service_provider_amount4 == "undefined" %}
                        <!-- Do nothing or add some content if needed -->
                    {% else %}
                        <a id="service_provider_amount4" href="{% static '' %}{{ modal_id_proof }}" target="_blank">
                            <font color="red"><span id="service_provider_amount4"></span></font>
                        </a>
                    {% endif %}
                </div>
                <!-- <span id="fileNameDisplay"><a href="images/1.pdf">view</a></span></font> -->
                
              </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" id="register" class="btn btn-primary">Submit</button>
        </div>
            </form>  </div>
  </div>
  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
  <script>
    $(document).ready(function() {
        $(document).on('click', '.edit', function() {
            var id = $(this).data('id');
            var customer_name = $(this).data('customer_name');
            var service_provider_name = $(this).data('service_provider_name');
            
            var customeremail = $(this).data('modal_customeremail');
            var customerephone = $(this).data('modal_customerphone');
            var gender = $(this).data('gender');
             var service_name = $(this).data('service_name');
            var address = $(this).data('address');
            var designation = $(this).data('designation');
            var modal_email = $(this).data('modal_email');
            var location = $(this).data('notes');
            var service_provider_phone1 = $(this).data('service_provider_phone1');
            var status = $(this).data('status');
            // var status = $(this).data('date');
            
            console.log("Clicked ID:", id); // Verify in the console that the correct ID is logged
            console.log("Name:", customer_name);
           // console.log("Phone:", phone);
            // console.log("Email:", email);
            // console.log("Gender:", service_provider_name);
           // console.log("Status:", Experience);
    
            // Assign values to modal fields
            $('#modal_name').val(customer_name);
            $('#modal_customeremail').val(customeremail);
            $('#modal_customerphone').val(customerephone);
            $('#modal_gender').val(gender);
            $('#modal_status').val(status);
            
            $('#modal_address').val(address);
            $('#service_provider_name').val(service_provider_name);
            $('#modal_email').val(modal_email);
             $('#service_name').val(service_name);
            $('#service_provider_phone1').val(service_provider_phone1);
            $('#modal_location').val(location);
    
            $('#modal_id').val(id);
    
            // Show the modal
            $('#editModal').modal('show');
        });
    });
    
    $(document).ready(function() {
      // When the button with class 'view-details' is clicked
      $('.view-details').on('click', function() {
          // Get data attributes from the clicked button
          var customerName = $(this).data('customer_name');
          var Accessoriesbuyamount = $(this).data('Accessories_buy_amount');
          console.log("jd")
          
          var modal_booking_id = $(this).data('modal_booking_id');
     
         
          var service_provider_amount = $(this).data('service_provider_amount');
          var service_provider_amount5 = $(this).data('service_provider_amount5');
          var service_provider_amount10 = $(this).data('service_provider_amount10');
       
          var number_of_dates = $(this).data('number_of_dates');
          var last_slot_is_full_day = $(this).data('last_slot_is_full_day');
          console.log(service_provider_amount10)   
          
        
          var modalEmail = $(this).data('modal_email');
          var serviceProviderPhone = $(this).data('service_provider_phone1');
          var id = $(this).data('id');
          
  
          // Populate the modal with the data
          $('#id1').val(modal_booking_id)
          $('#newModal #modal_booking_id').text(modal_booking_id);
          $('#modal_id').val(modal_booking_id)
          $('#Accessoriesbuyamount').val(service_provider_amount5)
          $('#service_provider_amount4').attr('href', '{% static "" %}' + service_provider_amount10);
           $('#service_provider_amount').val(service_provider_amount)
           $('#last_slot_is_full_day').val(last_slot_is_full_day);
           $('#number_of_dates').val(number_of_dates);
           $('#service_provider_amount1').val(service_provider_amount)
          $('#newModal #id').text(id);
      });
  });
  </script>
  
<!-- Page level custom scripts -->
<script>
  $(document).ready(function () {
    $('#dataTable').DataTable(); // ID From dataTable 
    $('#dataTableHover').DataTable(); // ID From dataTable with Hover
  });

</script>
<script type="text/javascript">
  window.onload = function() {
      if (typeof window.history.pushState === 'function') {
          window.history.pushState(null, null, window.location.href);
          window.onpopstate = function () {
              window.history.pushState(null, null, window.location.href);
              // Optional: You can trigger a full page reload here
              window.location.reload(true);
          };
      }
  };
</script>
  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'js/ruang-admin.min.js' %}"></script>
</body>

</html>