     
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="{% static 'images/1.png' %}" rel="icon">
  <title>Expert Homecare Employee</title>
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/ruang-admin.min.css' %}" rel="stylesheet">
</head>
<script src="path/to/jquery.js"></script>
<script src="path/to/bootstrap.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
      
  .k {
      width: 90%;
  }
  .error{
      color:red;
      font-size: 16px; 
  }
  
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
      $(document).ready(function () {
          var mod1=0;
          var mod2=0;
          var mod3=0;
          var mod4=0;
          var mod5=0;
          var mod6=0;
          var mod7=0;
          $("#txt1").keyup(function () {
              var n = document.getElementById("txt1");
              var letter = /^[A-Za-z]+(?: [A-Za-z]+)*$/;
              if (n.value == "") {
                  document.getElementById("text1").innerHTML = "<span class='error'>Please enter service provider name</span>";
                  $('#register').attr("disabled", true);
                      $('#register').css("background","lightblue");
                  mod1=1;
              }
              else if (!n.value.match(letter)) {
                  document.getElementById("text1").innerHTML = "<span class='error'>This is not a valid service provider  name. Please try again</span>";
                  $('#register').attr("disabled", true);
                      $('#register').css("background","lightblue");
                      mod1=1;
              }
              else if (n.value.match(letter)) {
                  mod1=0;
                  document.getElementById("text1").innerHTML = "<span class='error'></span>";
                  $('#register').attr("disabled", false);
$('#register').css("background","#4272d7");
$('#register').hover(function(){
$(this).css("background-color", "green");
}, function(){
$(this).css("background-color", "#4272d7");
});

              }
          }),
              $("#txt2").keyup(function () {
                  var n = document.getElementById("txt2");
                  var letter =  /^[A-Za-z0-9]+(?: [A-Za-z0-9]+)*(?:\.[A-Za-z0-9]+(?: [A-Za-z0-9]+)*)?$/
                  if (n.value == "") {
                      mod2=1;
                      document.getElementById("text2").innerHTML = "<span class='error'>Please enter service provider  address</span>";
                      $('#register').attr("disabled", true);
                      $('#register').css("background","lightblue");
                  }
                  else if (!n.value.match(letter)) {
                      mod2=1;
                      document.getElementById("text2").innerHTML = "<span class='error'>This is not a  valid service provider  address. Please try again</span>";
                      $('#register').attr("disabled", true);
                      $('#register').css("background","lightblue");
                  }
                  else if (n.value.match(letter)) {
                      document.getElementById("text2").innerHTML = "<span class='error'></span>";
                      $('#register').attr("disabled", false);
$('#register').css("background","#4272d7");
$('#register').hover(function(){
$(this).css("background-color", "green");
}, function(){
$(this).css("background-color", "#4272d7");
});
mod2=0;
                  }
              }),
              $("#Designation").keyup(function () {
              var n = document.getElementById("Designation");
              var letter = /^[A-Za-z]+(?: [A-Za-z]+)*$/;
              if (n.value == "") {
                  document.getElementById("text5").innerHTML = "<span class='error'>Please enter service provider  designation</span>";
                  $('#register').attr("disabled", true);
                      $('#register').css("background","lightblue");
                  mod3=1;
              }
              else if (!n.value.match(letter)) {
                  document.getElementById("text5").innerHTML = "<span class='error'>This is not a valid service provider  designation. Please try again</span>";
                  $('#register').attr("disabled", true);
                      $('#register').css("background","lightblue");
                      mod3=1;
              }
              else if (n.value.match(letter)) {
                  mod3=0;
                  document.getElementById("text5").innerHTML = "<span class='error'></span>";
                  $('#register').attr("disabled", false);
$('#register').css("background","#4272d7");
$('#register').hover(function(){
$(this).css("background-color", "green");
}, function(){
$(this).css("background-color", "#4272d7");
});

              }
          }),
              $("#phone1").keyup(function () {
                  var n = document.getElementById("phone1");
                  var letter =  /([789][0-9]{9})+$/;
                  if (n.value == "") {
                      mod4=1;
                      document.getElementById("text4").innerHTML = "<span class='error'>Please enter a service provider  phone number</span>";
                      $('#register').attr("disabled", true);
                      $('#register').css("background","lightblue");
                  }
                  else if (!n.value.match(letter)) {
                      mod4=1;
                      document.getElementById("text4").innerHTML = "<span class='error'>This is not a service provider  phone number</span>";
                      $('#register').attr("disabled", true);
                      $('#register').css("background","lightblue");
                  }
                  else if (n.value.match(letter)) {
                      document.getElementById("text4").innerHTML = "<span class='error'></span>";
                      $('#register').attr("disabled", false);
$('#register').css("background","#4272d7");
$('#register').hover(function(){
$(this).css("background-color", "green");
}, function(){
$(this).css("background-color", "#4272d7");
});
mod4=0;
                  }
              }),
          
              $("#Experience").keyup(function () {
                  var n = document.getElementById("Experience");
                  var letter =  /^[0-9]+$/;
                  if (n.value == "") {
                      mod5=1;
                      document.getElementById("text6").innerHTML = "<span class='error'>Please enter a service provider  year of experience</span>";
                      $('#register').attr("disabled", true);
                      $('#register').css("background","lightblue");
                  }
                  else if (!n.value.match(letter)) {
                      mod5=1;
                      document.getElementById("text6").innerHTML = "<span class='error'>This is not a valid service provider  year of experience </span>";
                      $('#register').attr("disabled", true);
                      $('#register').css("background","lightblue");
                  }
                  else if (n.value.match(letter)) {
                      document.getElementById("text6").innerHTML = "<span class='error'></span>";
                      $('#register').attr("disabled", false);
$('#register').css("background","#4272d7");
$('#register').hover(function(){
$(this).css("background-color", "green");
}, function(){
$(this).css("background-color", "#4272d7");
});
mod5=0;
                  }
              }),
              $("#Experience1").keyup(function () {
                  var n = document.getElementById("Experience1");
                  var letter =  /^[0-9]+$/;
                  if (n.value == "") {
                      mod5=1;
                      document.getElementById("text15").innerHTML = "<span class='error'>Please enter a service provider  amount per hour</span>";
                      $('#register').attr("disabled", true);
                      $('#register').css("background","lightblue");
                  }
                  else if (!n.value.match(letter)) {
                      mod5=1;
                      document.getElementById("text15").innerHTML = "<span class='error'>This is not a valid service provider  amount per hour </span>";
                      $('#register').attr("disabled", true);
                      $('#register').css("background","lightblue");
                  }
                  else if (n.value.match(letter)) {
                      document.getElementById("text15").innerHTML = "<span class='error'></span>";
                      $('#register').attr("disabled", false);
$('#register').css("background","#4272d7");
$('#register').hover(function(){
$(this).css("background-color", "green");
}, function(){
$(this).css("background-color", "#4272d7");
});
mod5=0;
                  }
              }),
          
              $("#register").click(function () {
                  if(mod1==1 ||mod2==1 ||mod3==1 ||mod4==1 ||mod5==1)
{
  $('#register').attr("disabled", true);
  $('#register').css("background","lightblue");
}
              });


          
});

  </script>
  <script>
          
  function fileValidation() {
          var fileInput =
              document.getElementById('inputfileupload');
          
          var filePath = fileInput.value;
      
          // Allowing file type
          var allowedExtensions =
                  /(\.jpg|\.jpeg|\.png|\.gif)$/i;
          
          if (!allowedExtensions.exec(filePath)) {
          
              document.getElementById("text17").innerHTML = "<span class='error'>invalid file type</span>";
              fileInput.value = '';
              return false;
          }
          else
          {
              document.getElementById("text17").innerHTML = "<span class='error'></span>";
          }
      }
</script>
<script>
  function checkEmailAvailability(email) {
      $.ajax({
          url: '/employee/validate_email1/', // URL to your Django view for validation
          method: 'POST',
          data: {
              'email': email,
              'csrfmiddlewaretoken': '{{ csrf_token }}'  // Ensure proper CSRF token inclusion
          },
          dataType: 'json',
          success: function(data) {
              console.log('Success:', data);
              // Example: Update UI to indicate availability or handle success
              if (data.valid) {
                  var n = document.getElementById("email1");
                  p = /\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
                  if (n.value == "") {
                      document.getElementById("emailFeedback").innerHTML = "<span class='error'>Please enter a valid email address</span>";
                      $('#register').attr("disabled", true);
                      $('#register').css("background","lightblue");
                      mod3=1;
                  }
                  else if (!n.value.match(p)) {
                      document.getElementById("emailFeedback").innerHTML = "<span class='error'>This is not a valid email address. Please try again</span>";
                      $('#register').attr("disabled", true);
                      $('#register').css("background","lightblue");
                      mod3=1;
                  }
                  else{
                  // Email is available, update UI accordingly
                  $('#emailInput').removeClass('is-invalid').addClass('is-valid');
                  $('#emailFeedback').html('<span style="color: green;">' + data.message + '</span>');
              }
              } else {
                  // Email already exists, update UI accordingly
                  $('#emailInput').removeClass('is-valid').addClass('is-invalid');
                  $('#emailFeedback').html('<span style="color: red;">' + data.message + '</span>');
              }
          },
          error: function(xhr, status, error) {
              console.error('Error:', error);
              // Example: Handle error or display error message
          }
      });
  }
  function fileValidation1() {
      var fileInput =
          document.getElementById('inputfileupload1');
       
      var filePath = fileInput.value;
   
      // Allowing file type
      var allowedExtensions =
              /(\.pdf)$/i;
       
      if (!allowedExtensions.exec(filePath)) {
        
          document.getElementById("text18").innerHTML = "<span class='error'>invalid file type</span>";
          fileInput.value = '';
          $('#register').attr("disabled", true);
                  $('#register').css("background","lightblue");
          return false;
          mod5=1;
      }
      else
      {
          document.getElementById("text18").innerHTML = "<span class='error'></span>";
          $('#register').attr("disabled", false);
                  $('#register').css("background","#4272d7");
                  mod5=0;
      }
  }
  function fileValidation2() {
      var fileInput =
          document.getElementById('inputfileupload2');
       
      var filePath = fileInput.value;
   
      // Allowing file type
      var allowedExtensions =
              /(\.pdf)$/i;
       
      if (!allowedExtensions.exec(filePath)) {
        
          document.getElementById("text19").innerHTML = "<span class='error'>invalid file type</span>";
          fileInput.value = '';
          $('#register').attr("disabled", true);
                  $('#register').css("background","lightblue");
          return false;
          mod5=1;
      }
      else
      {
          document.getElementById("text19").innerHTML = "<span class='error'></span>";
          $('#register').attr("disabled", false);
                  $('#register').css("background","#4272d7");
                  mod5=0;
      }
  }
</script>  

<body id="page-top">
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'admin1:index' %}">
        <div class="sidebar-brand-icon">
          <img src="{% static 'img/logo/logo2.png' %}">
        </div>
        <div class="sidebar-brand-text mx-3">Expert Homecare</div>
      </a>
      <hr class="sidebar-divider my-0">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin1:index' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>
      <hr class="sidebar-divider">
      <div class="sidebar-heading">
        Features
      </div>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin1:displayuser' %}">
          <i class="fa fa-users"></i>
          <span>User Details</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseForm" aria-expanded="true"
          aria-controls="collapseForm">
          <i class="fa fa-user-plus" style="font-size:16px"></i>
          <span>Employee</span>
        </a>
        <div id="collapseForm" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Employee</h6>
            <a class="collapse-item" href="{% url 'admin1:addemployee' %}">Add Employee</a>
            <a class="collapse-item" href="{% url 'admin1:employeedisplay' %}">View Employee</a>
          </div>
        </div>
      </li>
      <li class="nav-item ">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseForm4" aria-expanded="true"
          aria-controls="collapseForm">
          <i class="fa fa-gear" style="font-size:15px;"></i>
          <span>View Services</span>
        </a>
        <div id="collapseForm4" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">View Service Details</h6>
            <a class="collapse-item " href="{% url 'admin1:addservice1' %}">Add Service</a>
            <a class="collapse-item" href="{% url 'admin1:displayserviceadmin' %}">View Service </a>
          </div>
        </div>
      </li>
     
    
      <li class="nav-item active">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseForm3" aria-expanded="true"
          aria-controls="collapseForm">
          <i class="fas fa-user-cog"></i>
          <span>Service Provider</span>
        </a>
        <div id="collapseForm3" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Service Provider Details</h6>
            <a class="collapse-item active" href="{% url 'admin1:addserviceprovideradminview' %}">Add Service Provider</a>
            <a class="collapse-item" href="{% url 'admin1:displayserviceprovideradmin' %}">View Service Provider</a>
          </div>
        </div>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin1:viewbookingadmin' %}">
          <i class="fa fa-users"></i>
          <span>View Bookings</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin1:transactionadmin' %}">
          <i class='fas fa-key'></i>
          <span>Transaction Details</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin1:admin_chat_view' %}">
          <i class="fa fa-question-circle"></i>
          <span>Customer Queries</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin1:display_feedback1' %}">
          <i class='fas fa-comment-dots'></i>
          <span>View Feedback</span>
        </a>
      </li>
    </ul>
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- TopBar -->
        <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
          <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-1 small" placeholder="What do you want to look for?"
                      aria-label="Search" aria-describedby="basic-addon2" style="border-color: #ef6767;">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <span class="badge badge-danger badge-counter"></span>
              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Alerts Center
                </h6>
             
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <span class="badge badge-warning badge-counter"></span>
              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Message Center
                </h6>
               
            </li>
            <div class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img src="{% static customer.photo %} "class="img-profile rounded-circle"  style="max-width: 60px">
                <span class="ml-2 d-none d-lg-inline text-white small">{{ customer.first_name}}</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{% url 'employee:employeccount1' %}">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'employee:logoutaemployee' %}">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
        </nav>
        <!-- Topbar -->
        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
        

          <!-- Row -->
          <div class="row">
            <div class="k">
              <!-- Form Basic -->
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Add Service Provider</h6>
                </div>
                <div class="card-body">
                  <form action="{% url 'admin1:addserviceproviderdata' %}"method="post"enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="exampleInputEmail1">Service Provider Name</label>
                      <input type="text" class="form-control" name="name"id="txt1" aria-describedby="emailHelp"
                        placeholder="Enter Name"required>
                        <span id="text1"></span>
                    
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Service Provider Address</label>
                      <input type="text" class="form-control"name="address" id="txt2" placeholder="Enter Address"required>
                      <span id="text2"></span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Service Provider Email</label>
                        <input type="email" class="form-control" id="email1"name="email" placeholder="Enter Email" onkeyup="checkEmailAvailability(this.value)"required>
                       <span id="emailFeedback"></span>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Service Provider Phone</label>
                        <input type="text" class="form-control" id="phone1" name="phone" maxlength="10" placeholder="Enter Phone"required>
                        <span id="text4"></span>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Service Provider Gender</label><br>
                      <input type="radio"    name="gender" checked="checked" value="Male"required>&nbsp Male &nbsp&nbsp
                      <input type="radio"   name="gender" value="Female"required>&nbsp Female &nbsp
                      <input type="radio"   required>&nbsp Other
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Enter Service</label>
                        <select name="designation"class="form-control" id="txt5"required>
                            
                            {% for data_to_display in data_to_display %}
                            {{data_to_display.service_name}}
                            <option value="{{ data_to_display.id }}">{{ data_to_display.service_name }}</option>
                            {% endfor %}
</select>
                        <span id="text5"></span>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Enter Service Provider Location</label>
                        <select name="location"class="form-control" id=""required>
                            
                        
                            <option value="kottayam">Kottayam</option>
                            <option value="Ernakulam">Ernakulam</option>
                         
</select>
                        <span id="text5"></span>
                      </div>
                  
                      <div class="form-group">
                        <label for="exampleInputPassword1">  Service Provider year of Experience</label>
                        <input type="text" class="form-control" id="Experience"name="experience" maxlength="2" placeholder="Employee year of Experience"required>
                        <span id="text6"></span>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">  Service Provider Amount Per Slot(AM/PM)</label>
                        <input type="text" class="form-control" id="Experience1"name="amount" maxlength="4" placeholder="Service Provider Amount Per Hour"required>
                        <span id="text15"></span>
                      </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Service Provider Image</label>
                      <div class="custom-file">
                    
                       
                        <input type="file" class="form-control" id="inputfileupload" name="file1"accept="image/png,image/gif,image/jpeg" onchange="fileValidation()"required
                        placeholder="upload pdf">                                                                     
                        
                        <span id="text17"></span>
                      </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Service Provider Id proof</label>
                      <div class="custom-file">
                    
                       
                        <input type="file" class="form-control" id="inputfileupload1" name="file2"accept="application/pdf" onchange="fileValidation1()"required
                        placeholder="upload pdf">                                                                     
                        
                        <span id="text18"></span>
                      </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Upload Service Provider Qualification Certificate</label>
                      <div class="custom-file">
                    
                       
                        <input type="file" class="form-control" id="inputfileupload2" name="file3"accept="application/pdf" onchange="fileValidation2()"required
                        placeholder="upload pdf">                                                                     
                        
                        <span id="text19"></span>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                        <label class="custom-control-label" for="customControlAutosizing">Remember me</label>
                      </div>
                    </div>
                    <button type="submit" id="register" class="btn btn-primary">Update</button>
                  </form>
                </div>
              </div>

              <!-- Form Sizing -->
              
          <!--Row

          <!-- Documentation Link -->
          

          <!-- Modal Logout -->
          <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to logout?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                  <a href="login.html" class="btn btn-primary">Logout</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!---Container Fluid-->
      </div>

      <!-- Footer -->
      
      <!-- Footer -->
    </div>
  </div>
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Customer Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="modal_name">Name:</label>
                        <input type="text" class="form-control" id="modal_name" readonly>
                    </div>
                    <div class="form-group">
                        <label for="modal_email">Email:</label>
                        <input type="text" class="form-control" id="modal_email" readonly>
                    </div>
                    <div class="form-group">
                        <label for="modal_phone">Mobile:</label>
                        <input type="text" class="form-control" id="modal_phone" readonly>
                    </div>
                    <div class="form-group">
                        <label for="modal_gender">Gender:</label>
                        <input type="text" class="form-control" id="modal_gender" readonly>
                    </div>
                   
                    <input type="hidden" id="modal_id">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           
            </div>
        </div>
    </div>
  </div>

  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <script src="{% static 'vendor/jquery/jquery.min.js '%}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'js/ruang-admin.min.js' %}"></script>
  <!-- Page level plugins -->
  <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script>
      $(document).ready(function() {
          $(document).on('click', '.edit', function() {
              var id = $(this).data('id');
              var name = $(this).data('name');
              var email = $(this).data('email');
              var phone = $(this).data('phone');
              var gender = $(this).data('gender');
              var status = $(this).data('status');
      
              console.log("Clicked ID:", id); // Verify in the console that the correct ID is logged
              console.log("Name:", name);
              console.log("Phone:", phone);
              console.log("Email:", email);
              console.log("Gender:", gender);
              console.log("Status:", status);
      
              // Assign values to modal fields
              $('#modal_name').val(name);
              $('#modal_email').val(email);
              $('#modal_phone').val(phone);
              $('#modal_gender').val(gender);
              $('#modal_status').val(status);
              $('#modal_id').val(id);
      
              // Show the modal
              $('#editModal').modal('show');
          });
      });
      </script>
  <!-- Page level custom scripts -->
  <script>
    $(document).ready(function () {
      $('#dataTable').DataTable(); // ID From dataTable 
      $('#dataTableHover').DataTable(); // ID From dataTable with Hover
    });
  </script>
  <style>
    #dataTableSearchBox {
        float: right;
        
    }
</style>

</body>

</html>