<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="{% static 'img/logo/logo.png' %}" rel="icon">
  <title>RuangAdmin - Dashboard</title>
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/ruang-admin.min.css' %}" rel="stylesheet">
</head>
<script src="path/to/jquery.js"></script>
<script src="path/to/bootstrap.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body id="page-top">
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'admin1:index' %}">
        <div class="sidebar-brand-icon">
          <img src="{% static 'img/logo/logo2.png' %}">
        </div>
        <div class="sidebar-brand-text mx-3">Expert Homecare</div>
      </a>
      <hr class="sidebar-divider my-0">
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'admin1:index' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>
      <hr class="sidebar-divider">
      <div class="sidebar-heading">
        Features
      </div>
      <li class="nav-item   ">
        <a class="nav-link" href="{% url 'admin1:displayuser' %}">
          <i class="fa fa-users"></i>
          <span>User Details</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseForm" aria-expanded="true"
          aria-controls="collapseForm">
          <i class="fa fa-user-plus" style="font-size:16px"></i>
          <span>Employee</span>
        </a>
        <div id="collapseForm" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Employee</h6>
            <a class="collapse-item" href="{% url 'admin1:addemployee' %}">Add Employee</a>
            <a class="collapse-item" href="{% url 'admin1:employeedisplay' %}">View Employee</a>
          </div>
        </div>
      </li>
      <li class="nav-item active ">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseForm4" aria-expanded="true"
          aria-controls="collapseForm">
          <i class="fa fa-gear" style="font-size:15px;"></i>
          <span>View Services</span>
        </a>
        <div id="collapseForm4" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">View Service Details</h6>
            <a class="collapse-item " href="{% url 'admin1:addservice1' %}">Add Service</a>
            <a class="collapse-item active" href="{% url 'admin1:displayserviceadmin' %}">View Service </a>
          </div>
        </div>
      </li>
     
    
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseForm3" aria-expanded="true"
          aria-controls="collapseForm">
          <i class="fas fa-user-cog"></i>
          <span>Service Provider</span>
        </a>
        <div id="collapseForm3" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Service Provider Details</h6>
            <a class="collapse-item " href="{% url 'admin1:addserviceprovideradminview' %}">Add Service Provider</a>
            <a class="collapse-item" href="{% url 'admin1:displayserviceprovideradmin' %}">View Service Provider</a>
          </div>
        </div>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin1:viewbookingadmin' %}">
          <i class="fa fa-users"></i>
          <span>View Bookings</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin1:transactionadmin' %}">
          <i class='fas fa-key'></i>
          <span>Transaction Details</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin1:admin_chat_view' %}">
          <i class="fa fa-question-circle"></i>
          <span>Customer Queries</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin1:display_feedback1' %}">
          <i class='fas fa-comment-dots'></i>
          <span>View Feedback</span>
        </a>
      </li>
    
      <hr class="sidebar-divider">
      <div class="version" id="version-ruangadmin"></div>
    </ul>
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- TopBar -->
        <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
          <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-1 small" placeholder="What do you want to look for?"
                      aria-label="Search" aria-describedby="basic-addon2" style="border-color: #3f51b5;">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <span class="badge badge-danger badge-counter"></span>
              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Alerts Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
               
                   
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <span class="badge badge-warning badge-counter"></span>
              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Message Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
              </div>
            </li>
            <div class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img class="img-profile rounded-circle" src="{% static '' %}{{ user.photo }}" style="max-width: 60px">
                <span class="ml-2 d-none d-lg-inline text-white small">{{ user.first_name }}</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'admin1:logoutadmin' %}">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
        </nav>
        <!-- Topbar -->
        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
        
        
          <!-- Row -->
        
            <!-- Datatables -->
            <div class="col-lg-12">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Service Data</h6>
              
              
            <a href="{% url 'admin1:servicepdf' %}" target="_blank">                 <font color="blue">Generate Report</font>  </a>
          </div>
          <div class="right">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success" role="alert" id="delete-success-message" style="max-width: 400px; margin-left:600px;">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
      </div>  
                <div class="table-responsive p-3">
               
                  <table class="table align-items-center table-flush" id="dataTable">
                    <thead class="thead-light">
                      <tr>
                        <th>Service Name</th>
                        <th>Service Description</th>
                        <th>Image</th>
                   
                        <th>Action / Status</th>
                        <!-- <th>Gender</th> -->
                   
                      </tr>
                    </thead>
                    <!-- <tfoot>
                      <tr>
                        <th>Name</th>
                        <th>Photo</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>Gender</th>
                        <th>Status </th>
                        <th>Action</th>
                      </tr>
                    </tfoot> -->
                    <tbody>
                      {% for customer_data in data_to_display %}
                      <tr>
                     
                       
                     
                       
                        <td>{{ customer_data.service_name }}</td>
                
                <td>{{ customer_data.service_description }}</td>
                <td><img src="{% static '' %}{{ customer_data.photo }}" alt="Customer Photo" width="68"height="50"></td>

                <td>  {% if customer_data.status == '1' %}
               <a href="{% url 'admin1:editservice' customer_data.id %}" class="btn btn-warning btn-sm">Edit&nbsp;  &nbsp;</a>
                    <div style="margin-left:55px;margin-top: -30px;"><a href="{% url 'admin1:enable_disable_service' customer_data.id %}" class="btn btn-success btn-sm" >Active</a>
              {% else %}
              <a href="{% url 'admin1:editservice' customer_data.id %}" class="btn btn-warning btn-sm">Edit&nbsp;  &nbsp;</a>
                <div style="margin-left:55px;margin-top: -30px;"><a href="{% url 'admin1:enable_disable_service' customer_data.id %}" class="btn btn-danger btn-sm" >Inactive</a>
              {% endif %}
                 
             


                     </td>
                      
                      {% endfor %}
                    
                   
                     
                     
                    </tbody>
                  </table>
                </div>
              </div>
            </div> 
            
          <!--Row

          <!-- Documentation Link -->
          

          <!-- Modal Logout -->
          <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to logout?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                  <a href="login.html" class="btn btn-primary">Logout</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!---Container Fluid-->
      </div>

      <!-- Footer -->
      
      <!-- Footer -->
    </div>
  </div>
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Customer Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="modal_name">Name:</label>
                        <input type="text" class="form-control" id="modal_name" readonly>
                    </div>
                    <div class="form-group">
                        <label for="modal_email">Email:</label>
                        <input type="text" class="form-control" id="modal_email" readonly>
                    </div>
                    <div class="form-group">
                        <label for="modal_phone">Mobile:</label>
                        <input type="text" class="form-control" id="modal_phone" readonly>
                    </div>
                    <div class="form-group">
                        <label for="modal_gender">Gender:</label>
                        <input type="text" class="form-control" id="modal_gender" readonly>
                    </div>
                   
                    <input type="hidden" id="modal_id">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           
            </div>
        </div>
    </div>
  </div>

  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <script src="{% static 'vendor/jquery/jquery.min.js '%}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'js/ruang-admin.min.js' %}"></script>
  <!-- Page level plugins -->
  <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script>
      $(document).ready(function() {
          $(document).on('click', '.edit', function() {
              var id = $(this).data('id');
              var name = $(this).data('name');
              var email = $(this).data('email');
              var phone = $(this).data('phone');
              var gender = $(this).data('gender');
              var status = $(this).data('status');
      
              console.log("Clicked ID:", id); // Verify in the console that the correct ID is logged
              console.log("Name:", name);
              console.log("Phone:", phone);
              console.log("Email:", email);
              console.log("Gender:", gender);
              console.log("Status:", status);
      
              // Assign values to modal fields
              $('#modal_name').val(name);
              $('#modal_email').val(email);
              $('#modal_phone').val(phone);
              $('#modal_gender').val(gender);
              $('#modal_status').val(status);
              $('#modal_id').val(id);
      
              // Show the modal
              $('#editModal').modal('show');
          });
      });
      </script>
  <!-- Page level custom scripts -->
  <script>
    $(document).ready(function () {
      $('#dataTable').DataTable(); // ID From dataTable 
      $('#dataTableHover').DataTable(); // ID From dataTable with Hover
    });
    document.addEventListener("DOMContentLoaded", function() {
        var messageElement = document.getElementById("delete-success-message");
        if (messageElement) {
            // alert(messageElement.innerText);  // This will show a browser alert with the message
            
            // Optional: Hide the message after 5 seconds
            setTimeout(function() {
                messageElement.style.display = 'none';
            }, 3000);
        }
    }); 
  </script>
    <script type="text/javascript">
      window.onload = function() {
          if (typeof window.history.pushState === 'function') {
              window.history.pushState(null, null, window.location.href);
              window.onpopstate = function () {
                  window.history.pushState(null, null, window.location.href);
                  // Optional: You can trigger a full page reload here
                  window.location.reload(true);
              };
          }
      };
      </script>
  <style>
    #dataTableSearchBox {
        float: right;
        
    }
</style>

</body>

</html>