<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="{% static 'images/1.png' %}" rel="icon">
  <title>Expert Homecare Employee</title>
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/ruang-admin.min.css' %}" rel="stylesheet">
</head>
<script src="path/to/jquery.js"></script>
<script src="path/to/bootstrap.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script>

</script>
<style>
  /* .custom-width {
  width: 250px; 
  margin-left:700px;
} */

.custom-badge {
    font-size: 1rem; /* Adjust the font size as needed */
    padding: 0.25rem 0.4rem; /* Adjust the padding as needed */
    background-color: rgb(70, 249, 70); /* Set the background color to green */
    color: rgb(148, 141, 141); /* Optional: Set text color to white for contrast */
}
            
</style>
<body id="page-top">
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'admin1:index' %}">
          <div class="sidebar-brand-icon">
            <img src="{% static 'img/logo/logo2.png' %}">
          </div>
          <div class="sidebar-brand-text mx-3">Expert Homecare</div>
        </a>
        <hr class="sidebar-divider my-0">
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'admin1:index' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
        </li>
        <hr class="sidebar-divider">
        <div class="sidebar-heading">
          Features
        </div>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admin1:displayuser' %}">
            <i class="fa fa-users"></i>
            <span>User Details</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseForm" aria-expanded="true"
            aria-controls="collapseForm">
            <i class="fa fa-user-plus" style="font-size:16px"></i>
            <span>Employee</span>
          </a>
          <div id="collapseForm" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Employee</h6>
              <a class="collapse-item" href="{% url 'admin1:addemployee' %}">Add Employee</a>
              <a class="collapse-item" href="{% url 'admin1:employeedisplay' %}">View Employee</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseForm4" aria-expanded="true"
            aria-controls="collapseForm">
            <i class="fa fa-gear" style="font-size:15px;"></i>
            <span>View Services</span>
          </a>
          <div id="collapseForm4" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">View Service Details</h6>
              <a class="collapse-item " href="{% url 'admin1:addservice1' %}">Add Service</a>
              <a class="collapse-item" href="{% url 'admin1:displayserviceadmin' %}">View Service </a>
            </div>
          </div>
        </li>
       
      
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseForm3" aria-expanded="true"
            aria-controls="collapseForm">
            <i class="fas fa-user-cog"></i>
            <span>Service Provider</span>
          </a>
          <div id="collapseForm3" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Service Provider Details</h6>
              <a class="collapse-item " href="{% url 'admin1:addserviceprovideradminview' %}">Add Service Provider</a>
              <a class="collapse-item" href="{% url 'admin1:displayserviceprovideradmin' %}">View Service Provider</a>
            </div>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'admin1:viewbookingadmin' %}">
            <i class="fa fa-users"></i>
            <span>View Bookings</span>
          </a>
        </li>
        
        <li class="nav-item ">
            <a class="nav-link" href="{% url 'admin1:transactionadmin' %}">
              <i class='fas fa-key'></i>
              <span>Transaction Details</span>
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin1:admin_chat_view' %}">
              <i class="fa fa-question-circle"></i>
              <span>Customer Queries</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin1:display_feedback1' %}">
              <i class='fas fa-comment-dots'></i>
              <span>View Feedback</span>
            </a>
          </li>
    </ul>
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- TopBar -->
        <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
          <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-1 small" placeholder="What do you want to look for?"
                      aria-label="Search" aria-describedby="basic-addon2" style="border-color: #ef6767;">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <span class="badge badge-danger badge-counter"></span>
              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Alerts Center
                </h6>
             
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <span class="badge badge-warning badge-counter"></span>
              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Message Center
                </h6>
               
            </li>
            <div class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img src="{% static customer.photo %} "class="img-profile rounded-circle"  style="max-width: 60px">
                <span class="ml-2 d-none d-lg-inline text-white small">{{ customer.first_name}}</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{% url 'employee:employeccount1' %}">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'employee:logoutaemployee' %}">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
        </nav>

        <div class="row">
       
        <!-- Topbar -->
        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
        

          <!-- Row -->
          <div class="row">
            
            <!-- Datatables -->
            <div class="col-lg-12">
                
                

              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Booking Data {{ k }}</h6>
                  <div class="right">
                    <a href="{% url 'admin1:booking_report_pdf' %}" target="_blank">Generate Report </a>
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-success" role="alert" id="delete-success-message" style="max-width: 400px; margin-left:500px;">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
               
              </div>  
                </div>
              
                
                  <!-- Search Section -->
                  <div class="card-body">
                    <div class="form-group">
                      <label for="searchBookingDate">Search by Booking Date:</label>
                      <input type="text" id="searchBookingDate" class="form-control"  placeholder="Enter booking date (e.g., Aug. 14, 2024)">
                    </div>
                  </div>
                  
                  <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                      <thead class="thead-light">
                        <tr>
                          <th>SI NO</th>
                          <th>Customer Name</th>
                          <th>Service Offered</th>
                          <th>Booked Dates</th>
                          <th>Technician Name</th>
                          <th>Amount Paid</th>
                          <th>Payment Status</th>
                          <th>More Info</th>
                          <th>Service Action</th>
                        </tr>
                      </thead>
                      <tbody id="bookingTableBody">
                        {% for booking in data_to_display %}
                        <tr>
                          <td>{{ forloop.counter }}</td>
                          <td>{{ booking.customer_name }}</td>
                          <td>{{ booking.service_name }}</td>
                          <td>
                            {% for item in booking.dates_and_slots %}
                              <div>
                                {{ item.date }} - {{ item.slot }}
                              </div>
                            {% endfor %}
                          </td>
                          <td>{{ booking.service_provider_name }}</td>
                          {% if booking.amount == "pending" %}
                          <td><font color="red">Not Initiated</font></a></td>
                          {% else %}
                          <td><font color="green">{{ booking.amount }}</font></a></td>
                          {% endif %}
                        
                          {% if booking.payment == "pending" %}
                          <td><font color="red">{{ booking.payment }}</font></a></td>
                          {% elif booking.payment == "Done" %}
                          <td><span class="badge custom-badge">{{ booking.payment }}</span></a></td>
                          {% else %}
                          <td><font color="red">{{ booking.payment }}</font></a></td>
                          {% endif %}
                       
                  
                   
                          <td>
                            <button class="btn btn-sm btn-primary edit" data-toggle="modal" data-target="#editModal" 
                          data-customer_name="{{ booking.customer_name }} " 
                          data-address="{{ booking.address }}"
                        
                          data-service_provider_name="{{ booking.service_provider_name }} " 
                          data-modal_customeremail="{{ booking.customer_email }} " 
                          data-modal_customerphone="{{ booking.customer_phone }} " 
                          data-service_name="{{ booking.service_name }}" 
                          data-gender="{{ booking.service_provider_gender }}" 
                          data-location="{{ booking.service_provider_location }}" 
                          data-Experience="{{ booking.Service_Provider_Experience }}"
                          data-notes="{{ booking.notes }}" 
                          data-modal_email="{{ booking.service_provider_email }}" 
                          data-service_provider_phone1="{{ booking.service_provider_phone }}" 
                          
                        
                          data-id="{{ booking.id }}">View</button></td>
                         
                          {% if booking.status == "pending" %}
                          <td><a href="{% url 'employee:changebookingstatus' booking.booking_id %}" class="btn btn-sm btn-warning">{{ booking.status }}</a></td>
                       
                          {% elif booking.status == "Approved" %}
                          <td><span class="badge custom-badge">{{ booking.status }}</span></a></td>
                          {% else %}
                          <td><span class="badge custom-badge">{{ booking.status }}</span></a></td>
                          {% endif %}
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
                
                <script>
                  document.getElementById('searchBookingDate').addEventListener('input', function() {
                    var searchValue = this.value.toLowerCase();
                    var tableRows = document.querySelectorAll('#bookingTableBody tr');
                    
                    tableRows.forEach(function(row) {
                      // Extract and normalize the booking dates text from the row
                      var bookingDates = row.querySelectorAll('td')[3].textContent.toLowerCase();
                      
                      // Normalize date format for comparison
                      var normalizedBookingDates = bookingDates.replace(/(\d{1,2}[a-z]{2}|\d{1,2})(?:[\s-]+)(am|pm)?(?:[\s-]+)(\w+ \d{1,2}, \d{4})/g, function(match) {
                        return match.toLowerCase();
                      });
                      
                      // Check if the normalized booking dates include the search value
                      if (normalizedBookingDates.includes(searchValue)) {
                        row.style.display = '';
                      } else {
                        row.style.display = 'none';
                      }
                    });
                  });
                </script>
                
            
          <!--Row

          <!-- Documentation Link -->
          

          <!-- Modal Logout -->
          <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel"> Booking Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="modal_name">Customer Name:</label>
                                <input type="text" class="form-control" id="modal_name" readonly>
                            </div>
                            <div class="form-group">
                              <label for="modal_customermobile">Customer Mobile:</label>
                              <input type="text" class="form-control" id="modal_customerphone" readonly>
                          </div>
                          <div class="form-group">
                            <label for="modal_name">Customer Email:</label>
                            <input type="text" class="form-control" id="modal_customeremail" readonly>
                        </div>
                            <div class="form-group">
                              <label for="modal_name">Technician Name:</label>
                              <input type="text" class="form-control" id="service_provider_name" readonly>
                          </div>
                            
                            <div class="form-group">
                              <label for="modal_Address">Service Booked Address:</label>
                              <input type="text" class="form-control" id="modal_address" readonly>
                          </div>
                          <div class="form-group">
                            <label for="modal_designation">Service Offered:</label>
                            <input type="text" class="form-control" id="service_name" readonly>
                        </div>
                        
                     
                        <div class="form-group">
                          <label for="modal_Experience">Problem Description:</label>
                          <textarea class="form-control" id="modal_location" readonly style="width:100%;"></textarea>
                      </div>
                    
                            <div class="form-group">
                                <label for="modal_email">Technician Email:</label>
                                <input type="text" class="form-control" id="modal_email" readonly>
                            </div>
                            <div class="form-group">
                                <label for="service_provider_phone">Technician Mobile:</label>
                                <input type="text" class="form-control" id="service_provider_phone1" readonly>
                            </div>
                            <div class="form-group">
                                <label for="modal_gender">Gender:</label>
                                <input type="text" class="form-control" id="modal_gender" readonly>
                            </div>
                           
                           
                            <input type="hidden" id="modal_id">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                   
                    </div>
                </div>
            </div>
          </div>
  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <script src="{% static 'vendor/jquery/jquery.min.js '%}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'js/ruang-admin.min.js' %}"></script>
  <!-- Page level plugins -->
  <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script>
      $(document).ready(function() {
          $(document).on('click', '.edit', function() {
              var id = $(this).data('id');
              var customer_name = $(this).data('customer_name');
              var service_provider_name = $(this).data('service_provider_name');
              
              var customeremail = $(this).data('modal_customeremail');
              var customerephone = $(this).data('modal_customerphone');
              var gender = $(this).data('gender');
               var service_name = $(this).data('service_name');
              var address = $(this).data('address');
              var designation = $(this).data('designation');
              var modal_email = $(this).data('modal_email');
              var location = $(this).data('notes');
              var service_provider_phone1 = $(this).data('service_provider_phone1');
              var status = $(this).data('status');
              // var status = $(this).data('date');
              
              console.log("Clicked ID:", id); // Verify in the console that the correct ID is logged
              console.log("Name:", customer_name);
             // console.log("Phone:", phone);
              // console.log("Email:", email);
              // console.log("Gender:", service_provider_name);
             // console.log("Status:", Experience);
      
              // Assign values to modal fields
              $('#modal_name').val(customer_name);
              $('#modal_customeremail').val(customeremail);
              $('#modal_customerphone').val(customerephone);
              $('#modal_gender').val(gender);
              $('#modal_status').val(status);
              
              $('#modal_address').val(address);
              $('#service_provider_name').val(service_provider_name);
              $('#modal_email').val(modal_email);
               $('#service_name').val(service_name);
              $('#service_provider_phone1').val(service_provider_phone1);
              $('#modal_location').val(location);
      
              $('#modal_id').val(id);
      
              // Show the modal
              $('#editModal').modal('show');
          });
      });
      document.addEventListener("DOMContentLoaded", function() {
        var messageElement = document.getElementById("delete-success-message");
        if (messageElement) {
            // alert(messageElement.innerText);  // This will show a browser alert with the message
            
            // Optional: Hide the message after 5 seconds
            setTimeout(function() {
                messageElement.style.display = 'none';
            }, 3000);
        }
    });
      </script>
  <!-- Page level custom scripts -->
  <script>
    $(document).ready(function () {
      $('#dataTable').DataTable(); // ID From dataTable 
      $('#dataTableHover').DataTable(); // ID From dataTable with Hover
    });
  </script>
  <style>
    #dataTableSearchBox {
        float: right;
        
    }
   
.id-proof-box {
    border: 2px solid #0c0c0c;
    padding: 10px;
    margin-top: 10px;
    background-color: #cdc3c3;
    text-align: left;
    width: 70px;
}
#dataTableSearchBox {
    float: right;
}
</style>


</body>

</html>