
<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title></title>
    <style>
        .error {
            color: red;
          
            font-size: 15px;
        }
        k{
position: absolute;
  text-indent: 50px;
top: -25;
left: 53;
color: #7ab700;
font: bold 100px urw gothic l;
background-color: #2cac23;
background: white;
width: 96%;
size:10px;
height: 45px;
}
.error {
            color: red;
    
            font-size: 15px;
        }
    
        .k {
            border-radius: 100%;
        }
    
        .desc {
            padding: 15px;
            text-align: center;
    
        }
    
        .dropdown {
            position: relative;
            display: inline-block;
            margin-top: -15px;
            margin-left: 20px;
        }
    
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 190px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }
    
        .n9 {
            color: black;
            text-decoration: none;
            margin-top: -10px;
            margin-bottom: 10px;
    
            padding: 10 21;
            text-transform: uppercase;
            float: left;
    
        }
    
        .n9:hover {
    
            text-decoration: none;
            font-weight: bold;
            color: green;
        }
    
        .dropdown:hover .dropdown-content {
            display: block;
        }
    
        k {
            position: absolute;
            text-indent: 50px;
            top: -25;
            left: 53;
            color: #7ab700;
            font: bold 100px urw gothic l;
            background-color: #2cac23;
            background: white;
            width: 96%;
            size: 10px;
            height: 45px;
        }
    
        a.text-button-icon1 {
            text-transform: uppercase;
            color: green;
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 1px;
            -webkit-transition: all 0.3s ease 0s;
            -moz-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
        }
    
        a.text-button-icon1 i {
            margin-left: 5px;
            -webkit-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            -o-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
        }
    
        a.text-button-icon1:hover {
            color: #5fb759;
        }
    
        a.text-button-icon1:hover i {
            padding-left: 5px;
        }
a.text-button-icon1 {
  text-transform: uppercase;
  color: green;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a.text-button-icon1 i {
  margin-left: 5px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a.text-button-icon1:hover {
  color: #5fb759;
}

a.text-button-icon1:hover i {
  padding-left: 5px;
}

    </style>
<script>
   
        $(document).ready(function () {
            var mod1=0;
            var mod2=0;
            var mod3=0;
            var mod4=0;
            var mod5=0;
            var mod6=0;
            var mod7=0;
            $("#name").keyup(function () {
                var n = document.getElementById("name");
                var letter = /^[A-Za-z]+$/;
                if (n.value == "") {
                    document.getElementById("text1").innerHTML = "<span class='error'>Please enter a valid name</span>";
                    $('#register').attr("disabled", true);
                        $('#register').css("background","lightblue");
                     mod1=1;
                }
                else if (!n.value.match(letter)) {
                    document.getElementById("text1").innerHTML = "<span class='error'>This is not a valid name. Please try again</span>";
                    $('#register').attr("disabled", true);
                        $('#register').css("background","lightblue");
                        mod1=1;
                }
                else if (n.value.match(letter)) {
                     mod1=0;
                    document.getElementById("text1").innerHTML = "<span class='error'></span>";
                    $('#register').attr("disabled", false);
$('#register').css("background","#4272d7");
$('#register').hover(function(){
  $(this).css("background-color", "green");
  }, function(){
  $(this).css("background-color", "#4272d7");
});

                }
            }),
            $("#email1").keyup(function () {
                var n = document.getElementById("email1");
                var letter =  /\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
                if (n.value == "") {
                    document.getElementById("text3").innerHTML = "<span class='error'>Please enter a valid email</span>";
                    $('#register').attr("disabled", true);
                        $('#register').css("background","lightblue");
                     mod1=1;
                }
                else if (!n.value.match(letter)) {
                    document.getElementById("text3").innerHTML = "<span class='error'>This is not a valid email. Please try again</span>";
                    $('#register').attr("disabled", true);
                        $('#register').css("background","lightblue");
                        mod1=1;
                }
                else if (n.value.match(letter)) {
                     mod1=0;
                    document.getElementById("text3").innerHTML = "<span class='error'></span>";
                    $('#register').attr("disabled", false);
$('#register').css("background","#4272d7");
$('#register').hover(function(){
  $(this).css("background-color", "green");
  }, function(){
  $(this).css("background-color", "#4272d7");
});

                }
            }),
           
           
                $("#message").keyup(function () {
                var n = document.getElementById("message");
                var letter = /^[A-Za-z]+$/;
                if (n.value == "") {
                    document.getElementById("text4").innerHTML = "<span class='error'>Please enter a valid message</span>";
                    $('#register').attr("disabled", true);
                        $('#register').css("background","lightblue");
                     mod1=1;
                }
                else if (!n.value.match(letter)) {
                    document.getElementById("text4").innerHTML = "<span class='error'>This is not a valid message. Please try again</span>";
                    $('#register').attr("disabled", true);
                        $('#register').css("background","lightblue");
                        mod1=1;
                }
                else if (n.value.match(letter)) {
                     mod1=0;
                    document.getElementById("text4").innerHTML = "<span class='error'></span>";
                    $('#register').attr("disabled", false);
$('#register').css("background","#4272d7");
$('#register').hover(function(){
  $(this).css("background-color", "green");
  }, function(){
  $(this).css("background-color", "#4272d7");
});

                }
            }),
            $("#subject").keyup(function () {
                var n = document.getElementById("subject");
                var letter = /^[A-Za-z]+$/;
                if (n.value == "") {
                    document.getElementById("text5").innerHTML = "<span class='error'>Please enter a valid subject</span>";
                    $('#register').attr("disabled", true);
                        $('#register').css("background","lightblue");
                     mod1=1;
                }
                else if (!n.value.match(letter)) {
                    document.getElementById("text5").innerHTML = "<span class='error'>This is not a valid subject. Please try again</span>";
                    $('#register').attr("disabled", true);
                        $('#register').css("background","lightblue");
                        mod1=1;
                }
                else if (n.value.match(letter)) {
                     mod1=0;
                    document.getElementById("text5").innerHTML = "<span class='error'></span>";
                    $('#register').attr("disabled", false);
$('#register').css("background","#4272d7");
$('#register').hover(function(){
  $(this).css("background-color", "green");
  }, function(){
  $(this).css("background-color", "#4272d7");
});

                }
            }),
            $("#phone1" ).keyup(function () {
                    var n = document.getElementById("phone1");
                    p = /([789][0-9]{9})+$/;
                    if (n.value == "") {
                        document.getElementById("text2").innerHTML = "<span class='error'>Please enter a valid phone number</span>";
                        $('#register').attr("disabled", true);
                        $('#register').css("background","lightblue");
                        mod4=1;
                    }

                    else if (!n.value.match(p) ) {
                        document.getElementById("text2").innerHTML = "<span class='error'>This is not a valid phone number</span>";
                        $('#register').attr("disabled", true);
                        $('#register').css("background","lightblue");
                        mod4=1;
                    }
                    else if (n.value.match(p)) {
                        document.getElementById("text2").innerHTML = "<span class='error'></span>";
                        $('#register').attr("disabled", false);
                        $('#register').css("background","#4272d7");
$('#register').hover(function(){
  $(this).css("background-color", "green");
  }, function(){
  $(this).css("background-color", "#4272d7");
});
mod4=0;
                    }
            })
        });
</script>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css'%}">
   

    <link rel="stylesheet" href="{% static 'assets/css/templatemo-breezed.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/owl-carousel.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/lightbox.css' %}">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** --><div style="margin-top:1px;">
                          <img src ="{% static 'images/logonew.png' %}" width="250">
                        
</div>   
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <div style="margin-top: -70px;">
                        <ul class="nav">

                            <li class="scroll-to-section"><a href="#top" class="active"><font color="black">Home</font></a></li>
                            <li class="scroll-to-section"><a href="#about">About</a></li>
                            <li class="scroll-to-section"><a href="#projects">Images</a></li>
                            <li class="scroll-to-section"><a href="">Services</a></li>
                            <li class="scroll-to-section"><a href="#contact-us">Contact Us</a></li> 
          
                            <div style="margin-top:9px;">
                                <div class="dropdown">
                               
                                    <img src="{% static customer.photo %}" alt="Cinque Terre" width="70"
                                        height="50" class="k">
                                    <div class="dropdown-content" style="right:0;">

                                        <div class="desc"><a href="{% url 'useraccount' %}" class=n9
                                                target="__blank">Manage Account</a></div>
                                                <div style="margin-left:25px">  <div class="desc"><a href="" class=n9
                                                >My Bookings</a></div></div>

                                        <div style="margin-left:50px">
                                            <div class="desc"><a href="{% url 'logout' %}" class=n9>LOGOUT</a></div>
                                        </div>

                                    </div>
                                </div>

                           
                            </div>

                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <!-- ***** Header Area End ***** -->
    
    <!-- ***** Search Area ***** -->
    <div id="search">
        <button type="button" class="close">×</button>
        <form id="contact" action="#" method="get">
            <fieldset>
                <input type="search" name="q" placeholder="SEARCH KEYWORD(s)" aria-label="Search through site content">
            </fieldset>
            <fieldset>
                <button type="submit" class="main-button">Search</button>
            </fieldset>
        </form>
    </div>
    
    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">

          <!-- Item -->
          <div class="item">
            <div class="img-fill">
                <img src="{% static 'images/wall7.jpg' %}"height="500" alt="">            

                <div class="text-content">

                  <h3><font color="yellow"size="5"><div style="margin-top: 70px;"> Welcome To Expert Homecare website</div></font></h3>
                  <h5><font color="#feffea">Trusted Solutions for Every Home , Where Quality Meets Care</font></h5>
                  <a href="#about" class="main-stroked-button">Learn More</a>
                  <a href="#" class="main-filled-button">Book Your Service</a>
 
                </div>

            </div>
           
          </div>
          <!-- // Item -->
          <!-- Item -->
          
          <div class="item">
            <div class="img-fill">
                <img src="{% static 'images/wall2.jpg' %}" alt=""height="300">
                <div class="text-content">
                  <h3><font color="yellow"size="5">Welcome To Expert Homecare website</font></h3>
                  <h5>Your Home, Our Expertise , Ensuring Comfort and Care Every Step of the Way</h5>
                  <a href="#about" class="main-stroked-button">Read More</a>
                  <a href="#" class="main-filled-button">Book Your Service </a>
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
         
          <!-- // Item -->
        </div>
    </div>
    <div class="scroll-down scroll-to-section"><a href="#about"><i class="fa fa-arrow-down"></i></a></div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** About Area Starts ***** -->
    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <h6>About Us</h6>
                            <h2>Our top features in expert homecare </h2>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="service-item">
                                    <img src="{% static 'assets/images/service-item-01.png' %}" alt="">
                                    <h4>Plumbing Services</h4>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="service-item">
                                    <img src="{% static 'assets/images/service-item-01.png' %}" alt="">
                                    <h4> Electrical Repairs</h4>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="service-item">
                                    <img src="{% static 'assets/images/contact-info-03.png' %}" alt="">
                                    <h4>Appliance Repair</h4>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="service-item">
                                    <img src="{% static 'assets/images/contact-info-03.png' %}" alt="">
                                    <h4>HVAC Maintenancey</h4>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="service-item">
                                    <img src="{% static 'assets/images/contact-info-03.png' %}" alt="">
                                    <h4>Home Theater Setup</h4>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="service-item">
                                    <img src="{% static 'assets/images/contact-info-03.png' %}" alt="">
                                    <h4>Dining Table
                                    </h4>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="service-item">
                                    <img src="{% static 'assets/images/contact-info-03.png' %}" alt="">
                                    <h4>Garage Door Repair</h4>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="service-item">
                                    <img src="{% static 'assets/images/contact-info-03.png' %}" alt="">
                                    <h4>Smart Home Setup</h4>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <a href="#" class="main-button-icon">
                                   Learn More <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="right-text-content">
                      <p> At <font color="blue">Expert Homecare</font> , we are dedicated to providing top-notch home maintenance and repair services that cater to all your household needs. Our mission is to ensure your home remains a safe, comfortable, and well-maintained space through our extensive range of services.

                          Our customer-centric approach prioritizes your satisfaction by listening to your needs and customizing our services to meet your expectations. We partner with skilled and verified professionals to deliver high-quality and reliable services you can trust. Our comprehensive solutions cover everything from plumbing and electrical repairs to interior design consultations and smart home setups.
                          
                          We strive to provide maximum convenience with our user-friendly platform, enabling you to easily book services, track progress in real-time, and make secure payments. Innovation is at the heart of our service enhancements, with features like AI chatbot support and advanced search and filtering to ensure you get the best service experience.
                        </div>  
                          
                          
                  

                            </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** About Area Ends ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <img src="{% static 'assets/images/features-icon-1.png' %}" alt="">
                        </div>
                        <div class="features-content">
                            <h4>Customer Support </h4>
                            <p>At Expert Homecare, we prioritize your satisfaction and convenience. Our dedicated customer support team is here to assist you every step of the way. Whether you have questions about our services, need help with booking, or require assistance after a repair, we're just a call or click away.We understand the importance of timely assistance. Our customer support agents are trained to provide prompt responses to your queries and concerns and also we prioritize your satisfaction and convenience. 
                            </p>
                           
                            <a href="#" class="text-button-icon">
                                <div style="margin-top:25px"> Learn More<i class="fa fa-arrow-right"></i></div> 
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <img src="{% static 'assets/images/features-icon-1.png' %}" alt="">
                        </div>
                        <div class="features-content">
                            <h4>Quality Assurance</h4>
                         <div style="margin-top:-15px"><P><font size="10"></font> Expert Homecare is committed to delivering high-quality repair services that meet industry standards and exceed customer expectations. We ensure thorough inspections and use of quality materials for every repair job to guarantee lasting results.Our pricing policy is transparent and upfront. Before any work begins, we provide detailed estimates outlining the costs involved. 
                          We stand behind our workmanship. Expert Homecare offers a satisfaction guarantee on all repair services. 
                       
</div> 
                            <a href="#" class="text-button-icon">
                                Learn More <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <img src="{% static 'assets/images/features-icon-1.png' %}" alt="">
                        </div>
                        <div class="features-content">
                            <h4>Safety & security</h4>
                            <p>At Expert Homecare, safety is our top priority in every repair and maintenance service we provide. We adhere strictly to industry safety standards and regulations to ensure the well-being of our customers, employees, and properties. Our team is trained extensively in safety protocols, minimizing risks and ensuring a secure environment during all service operations.
                            Our goal is not only to fix your home but also to provide peace of mind, knowing that your safety and security are in good hands with Expert Homecare.</p>
                            <a href="#" class="text-button-icon">
                                Learn More <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="section-heading">
                        <h6>Subscribe Newsletters</h6>
                        <h2>Don’t miss this chance!</h2>
                    </div>
                    <div class="subscribe-content">
                        <p>Choose Expert Homecare for our extensive experience in the industry, proven track record of customer satisfaction, and deep community engagement. We prioritize environmental responsibility by implementing eco-friendly practices without compromising on quality.</p>
                        <div class="subscribe-form">
                            <form id="subscribe-now" action="" method="get">
                                <div class="row">
                                    <div class="col-md-8 col-sm-12">
                                      <fieldset>
                                        <input name="email" type="text" id="email" placeholder="Enter your email..." required="">
                                      </fieldset>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                      <fieldset>
                                        <button type="submit" id="form-submit" class="main-button">Subscribe Now</button>
                                      </fieldset>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->


    <!-- ***** Projects Area Starts ***** -->
    <section class="section" id="projects">
       <font color="green"size="5"><div style="margin-left:600px">IMAGES</div></font>
      <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="section-heading">
                    <div style="margin-top:60px">
                    <h6>Our Images</h6><Br>
                    <h3>Some of our latest Product and Service Images</h3>
                </div>
               
                <div class="filters">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".des">Plumbing </li>
                        <li data-filter=".dev">Electrical</li>
                        <li data-filter=".gra">Appliance Repair</li>
                      <li data-filter=".tsh"></li>
                    </ul>
                </div>
            </div>
            </div>
            <div class="col-lg-9">
                <div class="filters-content">
                    <div class="row grid">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all des">
                          <div class="item">
                            <a href="{% static 'images/5.png' %}" data-lightbox="image-1" data-title="Our Projects"><img src="{% static 'images/5.png' %}"width="150"height="150" alt=""></a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all des">
                            <div class="item">
                              <a href="{% static 'images/6.png' %}" data-lightbox="image-1" data-title="Our Projects"><img src="{% static 'images/6.png' %}"width="150"height="150" alt=""></a>
                            </div>
                          </div>
                        
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all dev">
                          <div class="item">
                            <a href="{% static 'images/13.png' %}" data-lightbox="image-1" data-title="Our Projects"><img src="{% static 'images/13.png' %}" height="150"alt=""></a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all dev">
                            <div class="item">
                              <a href="{% static 'images/15.png' %}" data-lightbox="image-1" data-title="Our Projects"><img src="{% static 'images/15.png' %}" height="150"alt=""></a>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all dev">
                            <div class="item">
                              <a href="{% static 'images/18.png' %}" data-lightbox="image-1" data-title="Our Projects"><img src="{% static 'images/14.png' %}" height="150"alt=""></a>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all dev">
                            <div class="item">
                              <a href="{% static 'images/17.png' %}" data-lightbox="image-1" data-title="Our Projects"><img src="{% static 'images/17.png' %}" height="150"alt=""></a>
                            </div>
                          </div>
                        
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all gra">
                            <div class="item">
                              <a href="{% static 'images/18.png' %}" data-lightbox="image-1" data-title="Our Projects"><img src="{% static 'images/18.png' %}" height="150"alt=""></a>
                            </div>  
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all gra">
                            <div class="item">
                              <a href="{% static 'images/19.png' %}" data-lightbox="image-1" data-title="Our Projects"><img src="{% static 'images/19.png' %}" height="150"alt=""></a>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all gra">
                            <div class="item">
                              <a href="{% static 'images/20.png' %}" data-lightbox="image-1" data-title="Our Projects"><img src="{% static 'images/20.png' %}" height="150"alt=""></a>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all gra">
                            <div class="item">
                              <a href="{% static 'images/21.png' %}" data-lightbox="image-1" data-title="Our Projects"><img src="{% static 'images/21.png' %}" height="150"alt=""></a>
                            </div>
                          </div>
                       
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all gra">
                          <div class="item">
                            <a href="{% static 'images/22.png' %}" data-lightbox="image-1" data-title="Our Projects"><img src="{% static 'images/22.png' %}"height="150" alt=""></a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all des">
                          <div class="item">
                            <a href="{% static 'images/9.png' %}" data-lightbox="image-1" data-title="Our Projects"><img src="{% static 'images/9.png' %}" height="150"alt=""></a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all des">
                            <div class="item">
                              <a href="{% static 'images/10.png' %}" data-lightbox="image-1" data-title="Our Projects"><img src="{% static 'images/10.png' %}" height="150"alt=""></a>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all des">
                            <div class="item">
                              <a href="{% static 'images/11.png' %}" data-lightbox="image-1" data-title="Our Projects"><img src="{% static 'images/11.png' %}" height="150"alt=""></a>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all des">
                            <div class="item">
                              <a href="{% static 'images/12.png' %}" data-lightbox="image-1" data-title="Our Projects"><img src="{% static 'images/12.png' %}" height="150"alt=""></a>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </section>
    <!-- ***** Projects Area Ends ***** -->

    <!-- ***** Testimonials Starts ***** -->
    
    <section class="section" id="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h6>OUR BEST EXPERT HOMECARE SERVICE</h6>
                        <h2>Book your Service</h2>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 mobile-bottom-fix-big" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div class="owl-carousel owl-theme">
                        <div class="item author-item">
                            <div class="member-thumb">
                                <img src="{% static 'images/10.png' %} "height="400" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                        </ul>
                                        <div style="margin-top:50px">
                                        <div class="col-md-12">
                                            <a href="#" class="main-button-icon">
                                               Book <i class="fa fa-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <h4>PLUMBING SERVICE</h4>
                           
                        </div>
                        <div class="item author-item">
                            <div class="member-thumb">
                                <img src="{% static 'images/16.png' %} "height="400" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                        </ul>
                                        <div style="margin-top:50px">
                                            <div class="col-md-12">
                                                <a href="#" class="main-button-icon">
                                                  Book <i class="fa fa-arrow-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h4>ELECTRICAL SERVICE</h4>
                           
                        </div>
                        <div class="item author-item">
                            <div class="member-thumb">
                                <img src="{% static 'images/18.png' %} "height="400" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                        </ul>
                                        <div style="margin-top:50px">
                                            <div class="col-md-12">
                                                <a href="#" class="main-button-icon">
                                                   Book <i class="fa fa-arrow-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h4>APPLIANCE REPAIR</h4>
                           
                        </div>
                       
    </section>
    <!-- ***** Testimonials Ends ***** -->
    
    <!-- ***** Contact Us Area Starts ***** -->
    <section class="section" id="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <h6>Contact Us</h6>
                            <h2>Feel free to keep in touch with us!</h2>
                        </div>
                        <ul class="contact-info">
                            <li><img src="{% static 'assets/images/contact-info-01.png' %}" alt="">9497036814</li>
                            <li><img src="{% static 'assets/images/contact-info-02.png' %}" alt="">experthomecare43@gmail.com</li>
                            <li><img src="{% static 'assets/images/contact-info-03.png' %}" alt="">www.experhomecare.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-xs-12">
                    <div class="contact-form">
                        <form id="contact" action="" method="get">
                          <div class="row">
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" id="name" placeholder="Your Name *" name="name" id="name" required="">
                               <div style="margin-top:-20px"><span id="text1"></span></div> 
                              </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="phone" type="text" maxlength="10" placeholder="Your Phone" id="phone1" name="phone" required="">
                              </fieldset>
                              
                              <div style="margin-top:-20px"><span id="text2"></span></div> 
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input  type="email" placeholder="Your Email *"  name="email"  id="email1"required="">
                              </fieldset>
                              <div style="margin-top:-20px"><span id="text3"></span></div> 
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="subject" type="text" id="subject" placeholder="Subject"id="subject">
                              </fieldset>
                              <div style="margin-top:-20px;margin-left:10px "><span id="text5"></span></div> 
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="message" rows="6" id="message" placeholder="Message" required=""id="message"></textarea>
                              </fieldset>
                              <div style="margin-top:-20px"><span id="text4"></span></div> 
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button-icon">Send Message Now <i class="fa fa-arrow-right"></i></button>
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Contact Us Area Ends ***** -->
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    
                </div>
                <div class="col-lg-6 col-xs-12">
                    <div class="right-text-content">
                            <ul class="social-icons">
                                <li><p>Follow Us</p></li>
                                <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-facebook"></i></a></li>
                                <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-twitter"></i></a></li>
                                <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-linkedin"></i></a></li>
                                <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    

    <!-- jQuery -->
    <script src="{% static 'assets/js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'assets/js/popper.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'assets/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/js/imgfix.min.js' %}"></script> 
    <script src="{% static 'assets/js/slick.js' %}"></script> 
    <script src="{% static 'assets/js/lightbox.js' %}"></script> 
    <script src="{% static 'assets/js/isotope.js' %}"></script> 
    
    <!-- Global Init -->
    <script src="{% static 'assets/js/custom.js' %}"></script>

    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>

  </body>
</html>