{% load static %}
{% csrf_token %}
<!doctype html>


<html lang="en">
  <head>
  	<title>Login 05</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'css/style1.css' %}">

	</head>
	<style>
		body {
			 background-image: url("{% static 'images/3.jpeg' %}");
			 background-size: cover;
			 background-repeat: no-repeat;
			 background-position: center;
			 font-family: Arial, sans-serif;
		 }
		 nav1 {
	background:white;
	width: 100%;
	height: 70px;
	overflow: hidden;
	
	z-index: 1000;
	position:fixed;
	top: 0;
	left: 0px;
}
.social{
	font-size:30px;
	padding:10px;
	margin-left:1060px;
    margin-top:-50px;
}
 </style>
	<body>
		<section class="ftco-section">
			<div style="margin-top:-100px">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-6 text-center mb-5">
						
					</div>
				</div>
				
							<div class="login-wrap p-4 p-lg-5">
						  <div class="d-flex">
							  <div class="w-100">
								 <i><h5 class="mb-4">Enter OTP</h5></i> 
							  </div>
									<div class="w-100">
										<p class="social-media d-flex justify-content-end">
											<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
											<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
										</p>
									</div>
						  </div>
								<form action="{% url 'verify_otp' %}"method="post" class="signin-form">
									{% csrf_token %} 
									{% if messages %}
									{% for message in messages %}
										<div class="alert alert-{{ message.tags }}">
											<font color="red">{{ message }}</font>
										</div>
									{% endfor %}
								{% endif %}
									
								
							  <div class="form-group mb-3">
								  <label class="label" for="name1"></label>
								  <input type="text" class="form-control" placeholder="Enter otp"name="otp" required>
							  </div>
						
						<div class="form-group">
							<button type="submit" class="form-control btn btn-primary submit px-3">verify OTP</button>
						</div>
						<div class="form-group d-md-flex">
							<div class="w-50 text-left">
								<label class="checkbox-wrap checkbox-primary mb-0">Remember Me
										  <input type="checkbox" checked>
										  <span class="checkmark"></span>
											</label>
										</div>
										<div class="w-50 text-md-right">
											<h5><b><a href="{% url 'login1' %}">Back</a></b></h5>
										</div>
						</div>
					  </form>
					</div>
				  </div>
					</div>
				</div>
			</div>
		</section>
	
		<script src="js/jquery.min.js"></script>
	  <script src="js/popper.js"></script>
	  <script src="js/bootstrap.min.js"></script>
	  <script src="js/main.js"></script>
	</div>
	<nav1>
		<div style="margin-left:60px;margin-top:5px"><i><font size="5" color="orange"><img src ="{% static 'images/1.png' %}" width="250"></font></i></div>
		<div class="w-100">
			<div style="margin-top:-60px;margin-left:-60px;">
			<p class="social-media d-flex justify-content-end">
				<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a>
				<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
				<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
			</p></div>
		</div>
		</nav>
		</body>
	</html>
	{% if error %}
    <p>{{ error }}</p>
{% endif %}